[2018-04-04 22:10] citelao opened #13 "Inverse to `winrt::get_abi()`?"
I wanted to investigate ABI – C++/WinRT interop and found the [`get_abi`](https://github.com/MicrosoftDocs/winrt-related/blob/docs/winrt-related-src/cpp-ref-for-winrt/get-abi.md) documentation.

I also know of an [interoperability page](https://github.com/Microsoft/cppwinrt/blob/master/Docs/Interoperability%20Helper%20Functions.md) in the C++/WinRT GitHub docs (that I think may be outdated?)

I wo

[2018-04-05 20:15] stevewhims commented on #13
Hi, Gina, these are all great questions and observations, and I have a task (which I'll work on next) assigned to me to take care of this. As you know, C++/WinRT has been in a pre-release state for a while, and as we get ready to release it we're working to fill gaps in the documentation. Gaps such as the ones you're noticing. I'll get on with my task now, and I'll publish the docs just as soon as

[2018-04-05 20:26] stevewhims commented on #13
Sorry, Ben (not Gina). My bad! :)
~Steve

[2018-04-06 00:32] citelao commented on #13
Happy to help! I appreciate the quick response 😁

[2018-04-06 16:13] LarryOsterman opened #14 "method name generation algorithm is incorrect"
It's <base method name> for the first entry. Subsequent entries are the first numeric value which has not already been used.

So you have LineHeightProperty, then LineHeightProperty2, LineHeightProperty3, etc.

If you have LineHeightProperty and LineHeightProperty3, then the overloads of LineHeightProperty will be named: LineHeightProperty, LineHeightProperty2, and LineHeightProperty4 (since LineH

[2018-04-06 16:15] LarryOsterman opened #15 "Developers who are not in the Windows organization should never use the [contract] attribute."
The [contract] attribute is an artifact of the mechanisms that the Windows organization uses to implement our versioning story and manage the process of creating multiple editions of Windows. There is no scenario for a user outside the Windows organization to use contract attributes. The reason you see this in the auto-converted IDL files is because the base IDL files for those are from the intern

[2018-04-06 19:50] stevewhims commented on #15
Hi, Larry, thanks for the feedback/info. I'll work with you via email to make this correction and have it reviewed. In the meantime, I'll close this issue work item. Thanks! ~Steve

[2018-04-06 19:50] #15 closed, assigned to nobody

[2018-04-06 19:51] stevewhims commented on #14
Hi, Larry, thanks for the feedback/info. I'll work with you via email to make this correction and have it reviewed. In the meantime, I'll close this issue work item. Thanks! ~Steve

[2018-04-06 19:51] #14 closed, assigned to nobody

[2018-04-11 18:34] dkemlage opened #17 "Where on disk do the SDK API contracts reside?"
I am using SandCastle (originally created by Microsoft and now managed as an open source project: https://github.com/EWSoftware/SHFB) to document a UWP based API. The problem is that SandCastle cannot figure out where the Windows Universal Platform SDK API contracts live on disk to complete its reflection-type interrogation. I am particularly interested as to where the following Assembly reference

[2018-04-11 19:33] dkemlage commented on #17
I believe I found them at:
C:\Program Files (x86)\Windows Kits\10\References\10.0.16299.0\Windows.Foundation.UniversalApiContract\5.0.0.0\Windows.Foundation.UniversalApiContract.winmd
C:\Program Files (x86)\Windows Kits\10\References\10.0.16299.0\Windows.Foundation.FoundationContract\3.0.0.0\Windows.Foundation.FoundationContract.winmd

[2018-04-16 07:21] beamazingbiz opened #18 "Feedback"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f322ef7-cc3b-d810-5d27-a36183676640
* Version Independent ID: f5efc866-2cf9-4473-c9a7-7525817da6a1
* Content: [Device Family Extension SDKs and API contracts - UWP app developer](https://docs.microsoft.com/en-us/uwp/extension-sdks/)
* Content Source:

[2018-04-16 14:25] #18 closed, assigned to nobody

[2018-04-16 14:25] TylerMSFT commented on #18
re: "[Enter feedback here]", looks like an accidental comment. Closing.

[2018-04-30 08:17] tim-weis opened #19 "Documentation for PhoneProductId and PhonePublisherId is incomplete."
The documentation explains, what values to choose for the `PhoneProductId` and `PhonePublisherId`, in case the package is an update to a Windows Phone app. It does not explain, what values to use in case the app is **not** an update, but rather a new UWP app.

This information is needed by developers, that cannot use the New Project templates in Visual Studio, authors of Visual Studio extensions,

[2018-04-30 19:46] stevewhims commented on #15
Removing link to topic now that this has been fixed.

[2018-04-30 19:46] stevewhims commented on #14
Removing link to topic now that this has been fixed.

[2018-05-07 01:50] wjk opened #20 "What is uap6:AllowExecution used for?"
Title really says it all. Why would you want to use this element in your AppX manifest, if it renders that AppX seemingly useless? Some context would be helpful here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f19e5a49-35c4-a65a-7145-d195a7eb1fbc
* Version Independent ID: f5a2d6c8-faae-eeae-13c0-8d6e8093196f
* Cont

[2018-05-07 01:59] wjk opened #21 "What is the purpose of ClassicAppCompatKey?"
I thought AppCompat keys were thoroughly deprecated starting with Windows 8 (although I can't find the doc mentioning this right now). The fact that this key is in the `rescap4` namespace implies it is not for general use, but on the other hand it is publicly documented here, which implies that might be found useful by a fairly large segment of apps/devs. This article does a good job of explaining

[2018-05-07 02:06] wjk commented on #19
Through experience publishing several apps to the Windows Store I have found that AppX manifests without `PhoneIdentity` tags are perfectly acceptable by the system. (I never include them in my source AppX manifests, and I have successfully published two apps — one UWP, one Desktop Bridge — without any issues.) If the Store requires them internally, it may well just add them automatically; I of co

[2018-05-07 07:58] tim-weis commented on #19
@wjk: The `PhoneIdentity` element is indeed optional in the schema reference for the [Package](https://docs.microsoft.com/en-us/uwp/schemas/appxpackage/uapmanifestschema/element-package). If I omit it, however, the build fails:

The full error message is:

This is using Visual Studio 2017 15.6.7, compiling a native UWP application.

I don't know, why the build tool insists, that the element were r

[2018-05-07 17:22] wjk commented on #19
In that case, I would simply recommend using new, random GUIDs for both attributes. AFAICT you only need to worry about the values if you are upgrading a Windows Phone 8 app. Since you're not, I don't think the values will mean anything.

[2018-05-07 19:29] tim-weis commented on #19
@wjk: I'm currently using a random GUID for the `PhoneProductId`, and a null GUID for the `PhonePublisherId`. Using a null GUID for both attributes did compile, but failed deployment to a Windows 10 Mobile device. Since I haven't published the application yet, I'm not sure what to expect when using a random GUID for the `PhonePublisherId`. After all, that's a valid ID, albeit for an unregistered p

[2018-05-10 06:03] miker1423 opened #22 "Does the unsupported service list need's to be updated?"
I see in the next post (https://support.microsoft.com/en-us/help/10568/windows-10-supported-bluetooth-profiles) that some profiles are now supported, like A/V Remote Control, does the unsupported service list has changed or not?

The list of unsupported services is here -> https://docs.microsoft.com/en-us/uwp/schemas/appxpackage/how-to-specify-device-capabilities-for-bluetooth#support-for-bluetoot

[2018-05-10 19:59] CarePackage17 opened #23 "Where is the Holographic Extension SDK?"
The holographic device family is missing. Not only here, I'm also having trouble finding related contracts and headers on disk in the SDK (e.g. Windows.Perception.Automation.Monitoring.PerceptionAutomationMonitoringContract).
Is that intended or a mistake?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f322ef7-cc3b-d8

[2018-05-11 14:54] TylerMSFT commented on #23
Hi,
I haven't received authorization to include their SDK in this list. When I do, I will update this topic.

[2018-05-11 14:54] #23 closed, assigned to TylerMSFT

[2018-05-11 16:29] CarePackage17 commented on #23
The thing is it's also nowhere in the SDK, so I can't program against it even if I wanted to, see e.g. the PerceptionMonitor API.

[2018-05-15 16:54] laurenhughes commented on #20
@wjk This is used for more complex packaging scenarios. For example, asset packages typically don't contain any executable files, so by designating an asset package's "uap6:AllowExecution" element to "false" you can save a bit of time when publishing an app in the Store. See [Introduction to asset packages](https://docs.microsoft.com/windows/uwp/packaging/asset-packages) for more details. I'll add

[2018-05-15 16:54] #20 closed, assigned to laurenhughes

[2018-05-17 14:44] Felix-Dev opened #24 "Update custom audio for UWP desktop"
In the "Remarks" section:
"UWP apps that target the desktop platform don't currently support custom sounds; instead, you can choose from the list of winsoundevents."

Proposed change:

"UWP apps that target the desktop platform prior to Version 1511 don't support custom sounds; instead, you can choose from the list of winsoundevents."

Also add that information into the "Attributes & Elements" tab

[2018-06-05 20:46] bjr1822 commented on #21
I assume we are talking about a related but not quite the same element of "rc4:ClassicAppCompatKey" in the appx manifest introduced as part of Windows10 RS4 packages? This answer applies to that, in case I'm mistaken. AppCompat keys in this context allow for Centennial applications packaged as appx packages to advertise registry keys outside the appx bubble for interoperability scenarios where old

[2018-06-05 20:50] bjr1822 opened #26 "Missing info regarding how ValueName field can be used"
An important piece of information that should be explicitly documented is what format the markup should take if you are specifying a default key value (i.e. a value that in .reg format would be named '@'). I ASSUME that I should just leave the ValueName attribute off and provide a Value, but I wonder if instead I should use ValueName="@" or ValueName="" (I assume not the latter because the specifi

[2018-06-05 22:35] wjk commented on #21
@bjr1822 Apologies for the confusion; I was indeed very much discussing the `rc4:ClassicAppCompatKey` AppX manifest element. I thought it was related to something completely different due to similar naming conventions.

Your answer has been very helpful. If you want, I can prepare a PR inserting your answer into the doc page for the manifest element in question. Thanks for your help!

[2018-06-06 18:24] bjr1822 commented on #21
Sure, if you think that is helpful. It may be a little bit of a ramble, but I'm happy to have helpful info posted.

[2018-07-06 18:19] rave991 opened #28 "Issue"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b26b439-4abf-bfd7-681c-51930f503e88
* Version Independent ID: 4d8d1692-44a6-0531-8277-923125eb57eb
* Content: [App package manifest - UWP app developer](https://docs.microsoft.com/en-us/uwp/schemas/appxpackage/appx-package-manifest)
* Content Source:

[2018-07-06 18:32] ginami commented on #28
Hi @rave991--please let us know if you have any feedback for our docs. Thank you!

[2018-07-06 18:32] #28 closed

[2018-07-12 18:38] stevewhims commented on #13
@citelao, I'll go ahead and close this issue now since it's been a while and it feels resolved. Please reopen if I made a mistake in closing. ~Steve

[2018-07-12 18:38] #13 closed, assigned to stevewhims

[2018-07-17 01:14] aschultz opened #29 "Adding arbitrary XML elements"
The schema doesn't include mention of adding arbitrary XML elements.

If I add arbitrary XML data to the toast payload (for example, adding a &lt;data&gt;Foo&lt;/data&gt; element inside &lt;toast&gt;), I've found that it will successfully be passed through the OS and on to the app. Is this undefined behavior or can we rely on it? It's potentially useful for including metadata that client apps can

[2018-07-17 15:38] JackDetrick opened #30 "Usage samples"
Need samples showing reading  and editing of  idl contents

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2dacbdf2-172f-dd41-829f-94295cd0c621
* Version Independent ID: b511accc-e0b1-9b30-d044-231d5204024d
* Content: [Introduction to Microsoft Interface Definition Language 3.0 - UWP app developer](https://docs.microsof

[2018-07-17 16:28] mijacobs commented on #29
@andrewleader Can you take a look?

[2018-07-17 17:00] chipimix opened #31 "Supported Services"
Hi!
I have bought a TI CC2650 SensorTag. Using the Bluetooth LE Explorer app from the windows store, I can inspect the service names of my device along with their UUIDs  as well as their characteristics.
Upon inspection, I noticed some service names are named as 5digit numbers (ie: 44032).

However, as seen [here](https://docs.microsoft.com/en-us/uwp/schemas/appxpackage/how-to-specify-device-capab

[2018-07-17 17:36] ginami commented on #31
Hi @chipimix -- can you tell me which docs page your question is referring to? This will help me route your comment to the correct author. Thanks!

[2018-07-17 17:46] chipimix commented on #31
Hi ginami! https://docs.microsoft.com/en-us/uwp/schemas/appxpackage/how-to-specify-device-capabilities-for-bluetooth#support-for-bluetooth-gatt-services

[2018-07-18 21:08] stevewhims commented on #30
Hi, @JackDetrick, could you clarify for me, please? Reading and editing of an actual .idl file's contents? Or reading/editing of the generated winmd file? Or something else? As for usage samples, since MIDL 3.0 has its primary use case with the C++/WinRT language projection, you'll find example MIDL 3.0 listings/snippets in the [C++/WinRT docs](https://docs.microsoft.com/windows/uwp/cpp-and-winrt-

[2018-07-19 03:50] andrewleader commented on #29
Hi @aschultz, adding arbitrary XML elements to toast or tile payloads is not an officially supported scenario. It is undefined behavior as you suggested. We can not make any guarantee that we won't change that behavior in the future.

We don't have any changes in mind for the near future that would affect this, but the nature of non-supported scenarios is that they could change and any critical be

[2018-07-19 09:43] christoph-fer opened #32 "Doesn't seem to work. :("
I followed all the steps mentioned in this doc. But building the project in Creators Update still gives me an error that says NavigationView is not supported in API version 4.0.0.0. Am I missing anything?

Project built on Windows 10 version 1803.
MinTarget: 1703
MaxTarget: 1803

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-07-19 16:02] mijacobs commented on #32
@christoph-fer: I believe you either need to download the latest Windows Insider Preview (Build 1807) OR download the new Windows UI Library, which also contains the NavigationView (in a different namespace though, Microsoft.UI.Xaml.Controls.NavigationView). Here are the instructions: https://docs.microsoft.com/en-us/uwp/toolkits/winui/

I'll be updating the docs with this info.

[2018-07-19 20:20] mijacobs commented on #32
@christoph-fer: Are you trying to use the platform version of the NavigationView (Windows.UI.Xaml.Controls.NavigationView) or the Windows UI Library version (Microsoft.UI.Xaml.Controls.NavigationView)?

[2018-07-20 17:53] hansmbakker opened #33 "Is this meant to be used alongside Windows.UI.Xaml.Controls, or instead of Windows.UI.Xaml.Controls?"
I understand this library is meant to "fill the gap" for developers wanting to use newer controls on older Windows 10 builds (so that they get a larger audience).

Looking at the features mentioned at https://docs.microsoft.com/en-us/uwp/toolkits/winui/, one could draw the conclusion to use all controls from these Nuget packages instead of directly referencing the Windows controls and only using t

[2018-07-20 22:27] mijacobs commented on #33
The “Windows UI Library” (currently in preview) contains the most up-to-date versions of many of the same controls and UI features that exist in the UWP Platform SDK, but packaged in a way that they can be used against in-market OS versions.

If your app needs to run against older versions of the OS, then using the versions of the controls in The Windows UI Library (Microsoft.UI.\*) will let you t

[2018-07-21 05:44] christoph-fer commented on #32
@mijacobs: Hi. I tried using <controls:NavigationView/> and that worked perfectly fine.

[2018-07-21 07:46] hansmbakker commented on #33
Thank you!

I understand, but what I meant to ask was in what case you would still want to use the original Windows.UI namespace?

Will the nuget-distributed Microsoft.UI versions eventually replace them in newer windows versions when the nuget packages are mature enough?

[2018-07-22 06:40] DL444 opened #34 "Microsoft.UI.Xaml.dll calls an unsupported API"
Submitted my app using Windows UI Library for certification. But certification failed saying that "API CoIncrementMTAUsage in ole32.dll is not supported for this application type. Microsoft.UI.Xaml.dll calls this API". Is there anything I missed? I saw the doc says the library is ready for store submission.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-07-23 18:54] mijacobs commented on #34
Hi @DL444,
Thank you for letting us know about this issue--our development team is working on a fix.

[2018-07-23 22:16] mijacobs commented on #33
For the foreseeable, you'll need to use certain controls from the Windows.UI.* namespace--for example, Button, RadioButton, Checkbox, etc. So far, our plan has focused on adding new controls to the Windows UI Library--we haven't  had any discussion about porting our older controls.

[2018-07-23 22:18] mijacobs commented on #32
@christoph-fer: Great! We're in the process of updating the docs with examples that show how to use the Windows UI Library versions.

[2018-07-23 22:18] #32 closed, assigned to mijacobs

[2018-07-24 05:35] christoph-fer commented on #32
@mijacobs That's awesome! Looking forward to that. :)

[2018-07-24 08:13] leonio opened #35 "XamlDirect link needs updating"
Does link need to point to https://docs.microsoft.com/en-us/uwp/api/microsoft.ui.xaml.core.direct.xamldirect rather than the old windows.ui.xaml... namespace?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 716795b6-2bcc-8ff5-f999-5e1de88a04e0
* Version Independent ID: 590dd55a-a259-e6dc-972e-531dda080cd9
* Content: [Nu

[2018-07-24 10:15] Mr1Penguin opened #36 "Controls with *Reveal* Background have just white background with both light and dark themes"
Project settings: 15063-17713/17134

I added a button with one of the *Reveal* backgrounds.

This bug appears on desktop(17713.1000) after I add some items to controls:NavigationView(settings item doesn't have any effect in this case).
This situation always exists on mobile(15254.490) even if there is only button with reveal background.

---
#### Document Details

⚠ *Do not edit this section. It i

[2018-07-24 11:02] Mr1Penguin commented on #36
Looks like problem exists only for c++/winrt projects.

C# + desktop is fine. But C# + mobile gives same result.

[2018-07-24 15:55] hansmbakker commented on #33
Ok, that’s clear :)

[2018-07-24 17:07] #33 closed, assigned to nobody

[2018-07-25 01:57] kmahone commented on #34
@DL444, Thanks for reporting the issue. We've fixed this problem and published an updated package: 2.0.180724003-prerelease. If you pick up the new version you should no longer see this error.

[2018-07-25 20:34] #34 closed, assigned to mijacobs

[2018-07-25 23:05] JohnnyWestlake opened #38 "RefreshContainer throws exception"
Attempting to use RefreshContainer via this library results in `Could not find Windows Runtime type 'Microsoft.UI.Private.Controls.IRefreshInfoProvider` when using the RefreshContainer via XAML.

I assume this *should* be supported given I can see nothing to say it shouldn't be

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-07-27 20:38] mijacobs commented on #38
Thanks for reporting this, @JohnnyWestlake! The team is investigating the issue.

[2018-07-31 07:18] ad1Dima opened #39 "AcrylycBrush FallbackColor Warning"
I have warning when I use Microsoft.UI.Xaml.Media.AcrilicBrush:
` <winui:AcrylicBrush TintColor="{ThemeResource PopupsBackgroundColor}" FallbackColor="#d8000000" BackgroundSource="Backdrop" TintOpacity="0.5"/>`

`The property ‘FallbackColor’ on type ‘AcrylicBrush’ is not available in the target platform minimum version (10.0.14393.0) supported by this project.`

Is this suppose to work this way?

[2018-08-01 08:44] RomanGL opened #41 "Cant create APPX with Microsoft.UI.Xaml"
Hello!

I using Windows Application Packaging Project for pack UWP-application with native background app service. UWP application uses Microsoft.UI.Xaml.
When i try to create APPX of my Package project I get these errors:

![image](https://user-images.githubusercontent.com/7839481/43511058-a8f7d52c-95a1-11e8-905a-b26cbc84af3e.png)

Debug appx creates successfully but Release no. Can you help me t

[2018-08-02 06:32] RomanGL opened #42 "Microsoft.UI.Xaml breaks down RevealBackgroundBrush"
Hello!
I try to use Microsoft.UI.Xaml in my project, however I found some bugs: RevealBackgroundBrush isn't working properly in a custom ControlTemplate.

XamlControlsResources is disabled in App.xaml.cs:
![image](https://user-images.githubusercontent.com/7839481/43566064-5a78e45c-9657-11e8-9137-14aecfeb9bcb.png)
And enabled:
![image](https://user-images.githubusercontent.com/7839481/43566216-e62b

[2018-08-02 15:37] mijacobs commented on #42
@RomanGL Thank you for taking the time to create this issue! Our team is investigating. What build are you running?

[2018-08-02 17:15] mijacobs commented on #42
@kikisaints

[2018-08-04 09:34] DL444 commented on #38
Same issue here.

[2018-08-05 10:11] mdtauk opened #43 "Updates and Changelogs"
Would it be possible to include the latest versioning for the Windows UI Library here?  And include changelogs detailing what has changed.  As these are not open source right now, it is important to find a way to detail new features in the future, or breaking changes.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a36

[2018-08-07 07:36] gabrielboroghina opened #44 "Reversed UsagePage and UsageId in the examples"
Hi! In the code snippets above, for gamepad and joystick, the UsagePage and UsageId should be reversed in the &lt;Function&gt; tag (so that to follow the format usage:"UsagePage UsageId"). More exactly, for a gamepad, the Type should be usage:"0x0001 0x0005" (or usage:"0x0001 *" if using the format from the examples).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2018-08-10 16:49] kikisaints commented on #42
There's nothing wrong with your control templates - there appears to be a bug in the XAMLControlsResources library that's causing an issue with Reveal's hover brush only (border is working correctly). Thanks for reporting! We'll get on that 👍

[2018-08-10 19:05] stevewhims commented on #30
@JackDetrick, I'll go ahead and close this issue now since it's been a while. Please reopen if I made a mistake in closing. ~Steve

[2018-08-10 19:05] #30 closed, assigned to stevewhims

[2018-08-11 08:07] RomanGL commented on #42
@kikisaints Thanks for your reply!
I'll wait for the problem is fixed.

[2018-08-13 21:36] edwardskrod opened #45 "Namespace Requirements incorrect."
It looks like the Namespace is incorrect. It should be rescap3.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bc57c32-ceb3-65b6-3685-c22ac71bbb1c
* Version Independent ID: c52c5de2-3c0f-beac-2786-d17786e38277
* Content: [rescap3:MigrationProgIds - UWP app developer](https://docs.microsoft.com/en-us/uwp/schemas/appxpa

[2018-08-14 17:55] laurenhughes commented on #45
Thanks for the catch! This will be updated shortly.

[2018-08-14 17:55] #45 closed, assigned to laurenhughes

[2018-08-15 12:30] danielgary opened #47 "Namespace link is broken"
Namespace links here: http://schemas.microsoft.com/appx/manifest/desktop/windows10/4 but is a broken link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8c86a67-b2c6-f67d-db41-98739541590c
* Version Independent ID: 1d0274d9-50e9-e8dc-cb27-f1ffe3e5de81
* Content: [desktop4:Extension - UWP app developer](https://docs.m

[2018-08-21 16:42] ChumpChief opened #49 "Formatting on ISF page did not translate well from PDF"
Table format is significantly more difficult to read in the HTML documentation than the original PDF, including some errors e.g. in the Word Example under the TAG_DRAW_ATTRS_TABLE, TAG_PEN_WIDTH, the value 3 is displayed with confusing bullet points and disconnected from its tag.

Also the syntax highlighting was lost in several locations.

---
#### Document Details

⚠ *Do not edit this section. I

[2018-08-27 05:50] DBJDBJ opened #50 "__forceinline"
cppWINRT is using always the latest MSVC C++17,  is __forceinline  actually necessary?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61423daf-d885-6ea0-9117-fcdaf7d89360
* Version Independent ID: 580ad3d5-d812-f811-30dc-5ae21b30037b
* Content: [winrt::check_hresult function (C++/WinRT) - UWP app developer](https://doc

[2018-08-28 07:34] christian-becker-ta opened #51 "Description in "Command"-Section is wrong."
A Command can contain 1 up until 20 ListenFor-Statements, like descriped in "ListenFor"-Section.
Also the error in the Code show's that a Command can only contain 10 ListeFor-Statements, if you add 21 Listen-For Statements. Please fix in new Version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0ed5459-3f38-da0c-e16

[2018-08-28 07:43] stevewhims commented on #50
Thanks for raising the issue, @DBJDBJ! In this case, __forceinline is definitely by design. However, it's a hint to the compiler that consumers of C++/WinRT aren't helped by knowing. In light of that, I've removed it from the syntax block. Thanks! ~Steve

[2018-08-30 17:53] LivefromRaleighwood opened #52 "Thank you"
This level of details is great - thanks for posting it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09e77fe7-6970-8c3b-09f9-47986e2010c2
* Version Independent ID: 25715011-c3c8-ce15-a1fc-db2bd62a58cf
* Content: [Getting started with the Windows UI library - UWP app developer](https://docs.microsoft.com/en-us/uwp/too

[2018-08-31 22:37] mijacobs commented on #52
Thank you for your feedback, we appreciate it!

[2018-08-31 22:37] #52 closed, assigned to mijacobs

[2018-09-03 10:10] nandavelugoti opened #53 "Windows.Foundation.Metadata.ApiInformation.IsEventPresent("Windows.UI.Xaml.Controls.TextBox", "CopyingToClipboard") is returning true even though the event is not available in ApiContract v3.0.0 (i.e.,Windows SDK v 10.0.14393)"
Hello,

I am developing an UWP Application with **Visual Studio Community 2015** installed in a machine with **Windows 10 OS build 17134.228 (version 1803)**. I have install only one sdk which is 10.0.14393.33. The application is targeted to 14393 as max version and 10240 as min version.

In MainPage.xaml.cs, I am simply invoking the below code inside MainPage constructor after InitializeComponent

[2018-09-03 23:14] DBJDBJ commented on #50
I was thinking (not writing sorry), each and every MSVC C++17  '__froceinlne' can be now changed to standard C++ 'inline', for the same effect.

But and also thanks to @stevewhims for the quick reaction!

[2018-09-03 23:14] #50 closed, assigned to stevewhims

[2018-09-04 17:02] ginami commented on #53
Hi @nandavelugoti --what page in our docs are you referring to? This will help me route your question to the correct author. Thanks!

[2018-09-04 18:58] stevewhims commented on #50
Thanks, @DBJDBJ, I'll pass that info along, that's good to know. ~Steve

[2018-09-05 06:45] nandavelugoti commented on #53
I am not referring to any doc in particular. It is a generic issue which I came across in one my UWP projects.
If you really want some reference please check https://docs.microsoft.com/en-us/uwp/extension-sdks/windows-universal-sdk.

Also I have raised the same issue in MSDN Forum. You can refer that for more context :https://social.msdn.microsoft.com/Forums/en-US/3dd6ac3f-a34f-448c-bf56-b489e6035

[2018-09-05 16:55] ginami commented on #53
HI @nandavelugoti -- unfortunately this feedback avenue is only for issues with our docs. I think your best spot for surfacing this issue is the Windows Developer Feedback channel on User Voice: https://wpdev.uservoice.com/. You should get responses from both the dev community and Microsoft employees. Thank you!

[2018-09-05 16:55] #53 closed, assigned to nobody

[2018-09-20 21:56] edwardskrod opened #54 "The IgnorableNamespaces attribute description isn't quite right."
The documentation reads:
 "Declares namespaces used in the manifest that should be ignored. Ignored namespace elements are not validated and should be considered untrusted. Multiple namespaces are specified with a space between each namespace."

This isn't exactly correct.

According to a manager at Visual Studio, "Ignorable namespaces are only ignored if they are not understood.  If the current s

[2018-09-27 01:04] ChrisGuzak opened #55 "Is it BundleManifest.xml or AppxBundleManifest.xml?"
this page mentions BundleManifest.xml as the name of the file in the .appxbundle but I understand AppxBundleManifest.xml is the right name. please update this page if I have this right.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 430cf11d-6135-54ef-58b4-2911a75c08ed
* Version Independent ID: d5f28c9e-3d06-6c74-8519-

[2018-09-27 01:13] ChrisGuzak opened #56 "this schema is stored in AppxManifest.xml files in the .appx file and files with .appxmanifest in source"
This page should explain the names of the files and file extension used to identify files that contain xml that follows this schema to make it easier to relate those files and this documentation. For example in the .appx file this schema is stored in a file named AppxManifest.xml.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2018-09-27 02:42] ChrisGuzak opened #57 "MainPackageDepencency is not documented, part of optional packages/related sets"
I found searching for "MainPackageDependency" from https://docs.microsoft.com/en-us/windows/uwp/packaging/ does not produce any results.

But I did find this documented here: https://docs.microsoft.com/en-us/uwp/schemas/appxpackage/uapmanifestschema/element-uap3-mainpackagedependency-manual

Seems the index needs to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2018-09-27 19:28] Karl-Bridge-Microsoft commented on #51
Thanks @TiMeJuMp. I've updated the topic and informed the feature team of the erroneous error message.

[2018-09-27 19:28] #51 closed, assigned to Karl-Bridge-Microsoft

[2018-09-30 09:50] lhak opened #58 "Using this library overrides custom accent colors"
Adding the required line to the App.xaml file overrides any changes made to the accent color by setting the SystemAccentColor resource.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a36d9da-7510-64b5-f937-cc3d9f0c2325
* Version Independent ID: 43badf5d-f042-1bad-6e50-7a42100dbada
* Content: [Windows UI library - UWP

[2018-10-01 01:32] mijacobs commented on #43
The WinUI Library is now on GitHub, so you should be able to find the info you need there:
https://github.com/Microsoft/microsoft-ui-xaml

[2018-10-01 01:33] mijacobs commented on #42
@kikisaints Has this issue been fixed?

[2018-10-01 01:36] mijacobs commented on #38
The issue should be fixed in the latest bits--please let us know if you're encountering the error.

[2018-10-01 01:36] #38 closed, assigned to mijacobs

[2018-10-01 01:36] #43 closed, assigned to mijacobs

[2018-10-02 20:23] mijacobs commented on #58
I've sent a query to the feature team. I'll let you know when I hear back!

[2018-10-04 07:39] K-O-N-E opened #59 "Updated content?"
Is this limitations doc still valid in October 2018?
No progresses for these missing features?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64b487e4-704e-7407-dc4e-dbd4787b6b17
* Version Independent ID: b7c66d71-1e06-7758-ca85-1f7b62937025
* Content: [UWP features not yet supported on Xbox - UWP app developer](https:

[2018-10-05 07:03] Hyolog opened #60 "Absence of PhoneCallManager at Windows Mobile Extension for the UWP ver 10.0.17134.0"
[Enter feedback here]

When i add reference "Windows Mobile Extensions for the UWP" ver 10.0.17134.0
accordance with the document for run example code
PhoneCallManager class (withPhoneLine class) was absence.

i think need to change reference version on document or example code properly

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2018-10-05 07:19] #60 closed, assigned to nobody

[2018-10-05 07:20] Hyolog commented on #60
move issue more proper location

[2018-10-15 13:30] touseefbsb opened #61 "a few problem of NavigationView with winui library"
a few problems with the new NavigationView control on winui library :
1. No Acrylic.
2. No way to manually set acrylic because there is no "PaneBackground" property.
3. No way to edit its template in blend either.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a36d9da-7510-64b5-f937-cc3d9f0c2325
* Version Independent

[2018-10-18 21:21] Karl-Bridge-Microsoft commented on #49
Thanks for the feedback @ChumpChief. I've updated the topic and hopefully fixed the issues you noticed.

[2018-10-18 21:21] #49 closed, assigned to Karl-Bridge-Microsoft

[2018-10-20 19:53] riverar opened #64 "Incomplete 1809 AppInstaller documentation"
1809 AppInstaller content is incomplete as of commit 3d27b6cfc313013efe99306db615ceafea70ce9a

* AutomaticBackgroundTask, ForceUpdateFromAnyVersion are not documented correctly (e.g. wrong namespace)
* AutomaticBackgroundTask, ForceUpdateFromAnyVersion link to the wrong content
* HoursBetweenUpdateChecks is confusingly a String (0-255) inclusive in some spots and Integer (0-24) with unknown (ex|in

[2018-10-25 19:06] michael-hawker opened #67 "Manifest documents should link back to feature documentation"
Each manifest page should have a related topics section which links back to the corresponding feature page.  These manifest schema pages are pretty useless to actually understand how to use the feature, but they usually come up first in search results.  For instance, this file type association schema page should link to the feature docs [here](https://docs.microsoft.com/en-us/windows/uwp/launch-re

[2018-10-29 10:29] paulmasri commented on #19
In the case where the `TargetDeviceFamily` does not include Windows.Phone (e.g. it is `Windows.Desktop` only), it would be good to have guidance what values should be included here (i.e. null/random GUID). As @tim-weis says, Visual Studio 2017 won't compile without it.

[2018-10-29 16:45] julienshepherd opened #68 "Contradiction between schema version and Windows version"
In the Attributes and Elements section, you say the 2017 schema is between 1709 and 1803 and in the Requirements section you say the 2017 schema is for version 1709 and later (no upper limit). Which one is true?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 005fc6a6-9327-61b5-7fac-ce77fef2490d
* Version Independent ID

[2018-11-01 17:54] toughengineer opened #69 "dead link"
[Interfaces; how to implement them in C++/WinRT](https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/implement-an-interface) in **See also** section is dead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 874a0da5-0b91-d4c5-354d-1a91a3af2fcc
* Version Independent ID: e8d4dba3-7a82-debc-eadb-6fe93d699021
* C

[2018-11-01 18:19] stevewhims commented on #69
@toughengineer, thanks for letting me know: I just merged a fix for that into master; that'll be live in 24 hours. Meanwhile, this is what the link should be:

[Author APIs with C++/WinRT](/windows/uwp/cpp-and-winrt-apis/author-apis)

Thanks again!
~Steve

[2018-11-01 22:42] toughengineer commented on #69
@stevewhims, sure, no problem :smile:

[2018-11-05 04:49] kgreed opened #70 "Confusion between Windows.UI.Xaml and Microsoft.UI.Xaml"
The Windows UI Library has a nuget package called Microsoft.UI.Xaml

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 716795b6-2bcc-8ff5-f999-5e1de88a04e0
* Version Independent ID: 590dd55a-a259-e6dc-972e-531dda080cd9
* Content: [NuGet package list for the Windows UI Library - UWP app developer](https://docs.microsoft.com

[2018-11-05 21:29] SoundersFan opened #71 "What "Remarks section""
The description of the Name element refers to the "Remarks section" but there is no remarks section. Please add a remarks section with further explanation of what the Name element is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c19f439-22c9-25fe-784c-31b0c95318e6
* Version Independent ID: 768d6905-013e-ffdc-3866-b0

[2018-11-07 00:24] michael-hawker commented on #70
@kgreed the Windows.UI.Xaml namespace is for the inbox controls.  The new Windows UI Library now ships some of these controls in the NuGet package to provide updates to these controls down-level but are in a new Microsoft.UI.Xaml namespace.

[2018-11-08 23:02] iamdroppy commented on #59
I also wonder the same. There was no updates for quite a while now. I was hoping for Kinect Skeleton tracking, even though Kinect is officially discontinued.

[2018-11-10 17:28] Quico20 opened #72 "Windows.ApplicationModel.Calls.CallsPhoneContract is available in desktop mode, but it isnt considered at documentation"
I'm developing an app for Windows 10 Mobile and Desktop devices, and I just found out that if you do have Skype installed on your desktop and  also have a microphone this contract is available in Desktop mode, so the only exclusive contract for a windows phone is "Windows.Phone.PhoneContract".

I'm posting here this because it seems that in you documentation "Windows.ApplicationModel.Calls.CallsPh

[2018-11-16 22:29] Quico20 commented on #72
@mcleblanc are you watching this issue???, how long do you think its gonna take to solve it???

[2018-11-17 01:15] knicholasa commented on #72
Hi Quico20, thanks for the thorough feedback! I will follow up with the team that owns this content area and update the thread when I have an answer.

[2018-11-17 20:46] Quico20 commented on #72
@knicholasa thanks man, looking forward to see the result of this issue.

[2018-11-28 00:15] knicholasa commented on #72
Hi @Quico20, I have an answer for you. In the October 2018 Update, the CallsPhoneContract was moved from the Mobile Extension SDK to the Universal SDK. I believe the behavior of your code reflects that change.

The Contract List for the October 2018 Update has not yet been added to the page. The most recent version (Version 10.0.17134.1) corresponds to the April 2018 Update. I am going to be worki

[2018-12-01 02:29] seanocali opened #74 "Invalid Cast Runtime Exception"
I just installed the nuget packages and added the resource dictionary. I have a method that returns a Brush:
return (AcrylicBrush)Application.Current.Resources["SystemControlAltMediumLowAcrylicElementMediumBrush"]

It throws: "System.InvalidCastException: 'Unable to cast object of type 'Microsoft.UI.Xaml.Media.AcrylicBrush' to type 'Windows.UI.Xaml.Media.AcrylicBrush'.'"

---
#### Document Details

[2018-12-01 02:31] seanocali commented on #74
Obviously I can just specify the namespace in the cast (Microsoft.UI.Xaml.Media.AcrylicBrush), but will that kill backward compatibility for the project?

[2018-12-02 20:45] jevansAN opened #75 "Usage examples"
Would be nice to see an example in C++/winrt showing an array_view being constructed, loaded with data, accessed. The above example merely shows the templates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 994c31dc-f794-f22d-a4eb-3c561d1d3341
* Version Independent ID: 1c50bc13-77f1-14d4-3cf1-6ff32a6b834a
* Content: [w

[2018-12-03 13:14] Quico20 commented on #72
@knicholasa thanks for the answer, I was on vacations, I'm glad to understand the issue, this update changed the behavior of my app, so i was force to use another Contract exclusively to Windows.Phone since I'm aming to Windows.Phone, Tablets and Desktops.

Do you know out of this topic where can I contact the responsible for Store.Services I'm kind stuck trying to make work the subscription in-Ap

[2018-12-03 19:15] knicholasa commented on #72
Sure. Feedback left here is meant for documentation issues, but if you need help with a development issue, you should be able to find what you need through this site: https://developer.microsoft.com/windows/support. That site links to a forum for asking questions about developing apps: https://social.msdn.microsoft.com/Forums/windowsapps. You can choose which forum is relevant to your question and

[2018-12-03 23:11] stevewhims commented on #75
Hi, @jevansAN, the code example right at the end of the [array_view::array_view constructor](https://docs.microsoft.com/uwp/cpp-ref-for-winrt/array-view#arrayviewarrayview-constructor) section shows an example per constructor overload (the overload is specified in the comment immediately above each construction). There are other (implicit and explicit) examples showing the usage of array_view in [

[2018-12-03 23:35] jevansAN commented on #75
Thanks very much Steven,

	I've kind of lost track of which comment this relates to, but I remember asking about array_view one time with regard to something I had read about it having "died." In any event, I'm now OK on that score since C++/winrt can use a std::vector<unsigned char> where a byte array is wanted.
	Since that comment I've confined myself to ask for more code examples in C++/winrt f

[2018-12-03 23:51] stevewhims commented on #75
I'll close this one for now, then. ~Steve

[2018-12-03 23:51] #75 closed, assigned to stevewhims

[2018-12-05 17:08] jevansaks commented on #74
If you switch to using the Microsoft.UI.Xaml nuget package then the project should use MUX.Media.AcrylicBrush. MUX nuget package supports back to Anniversary update and newer (14393+) so it should still be backwards compatible.

[2018-12-05 22:34] #72 closed, assigned to knicholasa

[2018-12-15 21:44] TimMangan opened #76 "Please provide XSD Schema files also."
Thanks for documenting the BlockMap and other schema reference documentation.  But if you want third party developers to correctly use this documented interfaces, also providing a consumable XSD file is the way to go.

Tim

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ea2a2fd-ea8a-e99e-4826-2b2e69eb6124
* Version Ind

[2018-12-25 08:02] frankthvandeven opened #77 "Moving the NavigationView to another Frame makes it unresponsive."
I am using the build 17134 SDK, but the latest Microsoft.UI.XAML 2.0.181018003.1 has the same problem.

When moving the NavigationView to another Frame, the NavigationView menu items cannot be clicked anymore. This means that giving the NavigationView another parent control upsets it. Hovering over menu items still works as I can see the color change.

object temp = Frame1.Content; // content is t

[2018-12-25 08:13] frankthvandeven commented on #77
I also added this issue to GitHub Microsoft/microsoft-ui-xaml as issue #137

[2018-12-26 18:03] ginami commented on #77
Hi @frankvandeven -- I'm sorry you're experiencing this problem. This issue list is for feedback on specific docs rather than general dev issues. Is this related to one of our docs? If not, I'd recommend reposting on one of the forums, or User Voice, both of which are linked from our support page (https://developer.microsoft.com/en-us/windows/support.)
If this is directly related to one of our doc

[2018-12-26 19:50] #77 closed, assigned to nobody

[2019-01-04 01:18] knicholasa commented on #17
Hi Don,

I'm looking through some issues that were recently assigned to me and came across this. Thanks for your detailed write up and sorry for the long response time! I hope the solution you found worked!

I encourage you to check out our development resources if you have more questions like this in the future (https://developer.microsoft.com/windows/support) as feedback here is meant primarily

[2019-01-04 16:24] benstevens48 opened #78 "array_view constructor documentation is confusing - it suggests it copies data"
Currently the array_view constructor documentation says

&gt; Initializes a new instance of the array_view struct with a copy of the input data.

However, an important property of the array_view is that it doesn't create a copy of the input data, it only creates a 'view' into it. Please could the documentation be updated to be less confusing.

---
#### Document Details

⚠ *Do not edit this section

[2019-01-04 16:27] benstevens48 opened #79 "make_self with private constructor"
Is it possible to create a class with a private constructor (designed to be created via a static method) and call make_self to create a WinRT component instance of the class? I can't get that to work. If this is not possible, is there another way to do it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35118798-8f23-27

[2019-01-04 23:23] #17 closed, assigned to knicholasa

[2019-01-05 03:19] stevewhims commented on #78
Thanks, @benstevens48, that's a good point. I've changed the language to be more consistent with the description at the top of the topic, which does describe the type correctly (and in line with how you describe it). That change should be live within 24 hours. ~Steve

[2019-01-05 03:46] stevewhims commented on #79
Hi, @benstevens48, yes if you omit a default constructor from your IDL, then the default constructor will be deleted in the generated C++ class (FWIW, you're then free to add a default constructor, or any other kind of constructor, in C++ as part of your implementation). Then, in your static factory method, you can use either make or make_self. They both call a constructor on your implementation t

[2019-01-05 14:13] benstevens48 commented on #79
Hi @stevewhims, thanks for the reply. I was actually trying to make the constructor private, in addition to omitting a default constructor from my IDL. The problem is I then get an error saying make_self cannot access it. Is there any way around this, or is this not a recommended design pattern (by the way, my C++ knowledge is a bit patchy)?

[2019-01-07 16:15] gidevbr opened #80 "UWP App Native build in Store behaving differently from Native Build on local machine"
We have an issue where UWP App **Native build in Store** behaving differently from Native Build on local machine (**side loaded native build**) . Store version app crashes on load, while sideloaded is working as expected. To note we only observe this behavior in UWP applications that are using _OData_ client. The debug output for store version doesn't not provide any information that could help id

[2019-01-07 18:18] mijacobs commented on #80
Hi Gidevbr,
This GitHub issues account is for issues with the docs. I recommend going to
https://developer.microsoft.com/en-us/windows/support and checking the forums. I did a search for the error code, and I found this thread:
https://social.technet.microsoft.com/Forums/en-US/f9d803e6-cd7b-4acb-ac4d-6fc6111569f4/windows-10-apps-fail-to-run?forum=win10itprogeneral

[2019-01-07 18:18] #80 closed, assigned to nobody

[2019-01-07 22:30] duncanmacmichael opened #81 "Test issue"
test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35118798-8f23-27b0-8d63-642dba40b0a0
* Version Independent ID: e56d787a-1de8-422c-fed4-c0e257611b77
* Content: [winrt::make_self function template (C++/WinRT) - Windows UWP applications](https://docs.microsoft.com/en-us/uwp/cpp-ref-for-winrt/make-self)
* Content Sourc

[2019-01-07 22:45] #81 closed, assigned to stevewhims

[2019-01-07 22:45] stevewhims commented on #81
Confirming successful assignment of test issue to myself. :)

[2019-01-08 00:44] stevewhims commented on #79
I see. I'm thinking, then, that there are two notions of "private" in the C++/WinRT world (or, more generally, in the COM world using C++). There's the "do you want your COM type to be directly creatable publicly?" and "do you want your implementation type to be directly creatable publicly (via a constructor)?". If the answer to the first question is "no", then we know already about that (don't pu

[2019-01-08 19:56] benstevens48 commented on #79
Hi Steve,

Thanks for the reply - it's good to have that clarified. Yes, the reason for making the constructor private was basically to remind myself that the intended way to construct a class instance is through the static factory function, and because I felt like this might be best practice. But I agree that the primary consumer is external and it's not a big problem for the constructor to be pu

[2019-01-08 20:46] stevewhims commented on #79
Sounds good! I'll go ahead and close this GitHub issue. Thanks!

[2019-01-08 20:46] #79 closed, assigned to stevewhims

[2019-01-08 20:52] benstevens48 commented on #78
Thanks, I can see the docs have been updated, so I'm closing this.

[2019-01-08 20:52] #78 closed, assigned to stevewhims

[2019-01-09 14:23] sichbo opened #82 "Need an MIDL 3.0 language reference area"
This narrative walkthrough is a great start, but what we actually need is an exhaustive list of MIDL 3.0 syntax like we had for 1.0: https://docs.microsoft.com/en-au/windows/desktop/Midl/midl-language-reference.

Additionally we need a way in MIDL 3.0 to specify comments for intellisense. I don't see any way to actually document a .winmd component for consumption by 3rd party developers (ie an int

[2019-01-09 22:52] stevewhims commented on #82
Thanks, @sichbo, I've reached out for help in addressing these issues and I'll get back to you asap. ~Steve

[2019-01-10 00:57] sichbo commented on #82
Thanks @stevewhims — you the man 👍

[2019-01-10 01:09] stevewhims commented on #82
Cool, so I'm still waiting on the first question. But regarding IntelliSense, a new work item has been created to track that (because the IDL language has never had syntax for IntelliSense comments, and supporting doc comment generation is a feature request). For the IntelliSense engine in Visual Studio to operate on IDL files and give syntax color coding is another feature request we've filed and

[2019-01-11 00:49] sichbo opened #83 "Guidance on how to "winrt::make" a projection from an existing implementation pointer."
It's well documented how we can instantiate new projected objects for returning to public API callers:
[code]

We also have a million examples on how easy it is to get the *implementation* from a projection:
[code]

What we don't seem to have is guidance on how to wrap our implementation ("this") into a projection for handing off to other projected API objects, which may or may not be external. Co

[2019-01-11 02:17] stevewhims commented on #83
Hi, @sichbo, it's really about the conversion operator that's mentioned in the very last sentence of this section: https://docs.microsoft.com/windows/uwp/cpp-and-winrt-apis/author-apis#instantiating-and-returning-implementation-types-and-interfaces. The code in this case is:

[code]

I'll update that section to make this a lot clearer. Thanks for filing the issue, and I hope that helps! ~Steve

[2019-01-11 13:18] sichbo commented on #83
Thanks @stevewhims! That's magic. Maybe we could drop your example in after the last sentence there for somebody.

Thanks again.

[2019-01-11 18:28] stevewhims commented on #83
I added a new scenario there after that sentence, with a little bit of code. The change is live now. I believe it covers your scenario, but if it needs more work, please let me know! ~Steve

[2019-01-11 20:06] sichbo commented on #83
Nice work @stevewhims, that section's a lot more informative now. Many thanks.

[2019-01-11 20:06] #83 closed, assigned to stevewhims

[2019-01-11 20:07] stevewhims commented on #83
Great, thanks, Simon!

[2019-01-11 20:21] c-don opened #84 "app manifest references the splash screen image 'assets\splash-sdk.png' which does not have valid dimensions. it must be 620x300 pixels."
I am getting the above error even though I have splash-sdk png file in the asset folder that has the dimensions 620x300. I am not sure how to fix this issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce789828-b3a9-a413-34d1-e9965f4ff885
* Version Independent ID: d366fc7a-e829-66c4-98e2-c05e0a4040b6
* Content: [uap

[2019-01-13 17:01] sichbo opened #85 "IAsyncOperation array types in MIDL"
Jeez, who's bugging you guys more than me lately, eh? 🙄 So here's something that ostensibly "should" work in MIDL 3.0 but raises a compilation error. A solution/reason why it doesn't work would be great to have in the intro here.

Busted MIDL:
[code]

Emits:
[code]
Another scenario is IAsyncOperation&lt;Anything[]&gt;. It seems like MIDL 3.0 simply doesn't support nested generic types or arrays on

[2019-01-15 02:10] stevewhims commented on #85
The first issue turns out to be a whitespace issue. I can repro the issue but then if I add whitespace like this, it's fine:

[code]

This used to be an issue with C++ templates, too (not sure whether it still is). I got into the habit of adding a single space of padding inside all my angle brackets.

And, I've confirmed that it's not valid to use an array in that context (arrays are represented a

[2019-01-15 12:19] sichbo commented on #85
Phew! Nice find! Being able to nest generics will reduce a lot of an API's footprint and boilerplate code. Good note about IReferenceArray<T>. Thanks for all of that, Steve 🍺

[2019-01-15 12:19] #85 closed, assigned to stevewhims

[2019-01-15 15:59] Marse1 opened #86 "Error: 'HoursBetweenUpdateChecks' attribute is not defined in the DTD/Schema"
It is specified that that "UpdateSettings" element could have the "HoursBetweenUpdateChecks" attribute. But, during installing the created AppInstaller file I get the validation error despite the entered namespace definition in "xmlns". Is this attribute supported here?

"The app manifest must be valid as per schema: Line 14, Column 21, Reason: The attribute 'HoursBetweenUpdateChecks' on the eleme

[2019-01-15 20:34] stevewhims commented on #85
Always welcome, Simon. Thanks to you for developing with MIDL 3.0 and C++/WinRT! :) ~Steve

[2019-01-16 02:08] lukeblevins commented on #61
Hello,
According to the new documentation for 1809, you must set the pane’s background from a theme resource. Read more here: https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/navigationview#navigation-view-customization

[2019-01-18 14:04] driesvandamme commented on #86
You have to use the 2018 schema:
http://schemas.microsoft.com/appx/appinstaller/2018

[2019-01-21 22:33] jefdharris opened #89 "cool"
just checking it out now but I think you guys have a winner.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a36d9da-7510-64b5-f937-cc3d9f0c2325
* Version Independent ID: 43badf5d-f042-1bad-6e50-7a42100dbada
* Content: [Windows UI library - Windows UWP applications](https://docs.microsoft.com/en-us/uwp/toolkits/winui/#

[2019-01-22 13:01] Marse1 commented on #86
Before posting my feedback I have double checked with the 2017, 2017/2 and 2018 schemas and result was the same. Note that exactly the 2017/2 schema is specified in the **Requirements** section of the https://docs.microsoft.com/en-us/uwp/schemas/appinstallerschema/element-update-settings page.

Information from the Event Viewer with the use of 2018 schema:

[code]

I am using Windows 10, 1809.

[2019-01-22 13:07] driesvandamme commented on #86
It is specified that that "UpdateSettings" element could have the "HoursBetweenUpdateChecks" attribute. - Where did you find that?

`  <UpdateSettings>
              <OnLaunch HoursBetweenUpdateChecks="0" />
	<AutomaticBackgroundTask/>
	<ForceUpdateFromAnyVersion>true</ForceUpdateFromAnyVersion>
  </UpdateSettings>
`

[2019-01-22 13:16] Marse1 commented on #86
On the https://docs.microsoft.com/en-us/uwp/schemas/appinstallerschema/element-update-settings page.
![image](https://user-images.githubusercontent.com/41452433/51537926-90fd8580-1e58-11e9-9007-673f4aab6997.png)

[2019-01-22 13:21] Marse1 commented on #86
The '**HoursBetweenUpdateChecks**' attribute of the '**OnLaunch**' element is described separately at https://docs.microsoft.com/en-us/uwp/schemas/appinstallerschema/element-onlaunch and accepts values in wide range from 0 to 255, when the '**HoursBetweenUpdateChecks**' attribute of the '**UpdateSettings**' element accepts values only from 0 to 24.

[2019-01-23 20:17] mcleanbyron commented on #86
Thanks for bringing this documentation error to our attention. I checked the schemas and confirmed that **HoursBetweenUpdateChecks** is an attribute of the [OnLaunch](https://docs.microsoft.com/en-us/uwp/schemas/appinstallerschema/element-onlaunch) element, not [UpdateSettings](https://docs.microsoft.com/en-us/uwp/schemas/appinstallerschema/element-update-settings) (note that **OnLaunch** is a chi

[2019-01-23 20:17] #86 closed, assigned to laurenhughes

[2019-01-24 15:08] JosephClampett opened #90 "Information on using WinUI with C++/WinRT is extremely unclear/nonexistent."

[2019-01-24 15:10] #90 closed, assigned to nobody

[2019-01-24 15:11] JosephClampett opened #91 "Information on using WinUI with C++/WinRT is extremely unclear/nonexistent. #90"
There is no guidelines and simply installing it with the "Blank Project" template provided by the WinRT NuGet package does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09e77fe7-6970-8c3b-09f9-47986e2010c2
* Version Independent ID: 25715011-c3c8-ce15-a1fc-db2bd62a58cf
* Content: [Getting started with the Win

[2019-01-25 17:25] mijacobs commented on #91
@JosephClampett how is it not working? Are you getting an error message when you compile?
@jesbis, are there any known issues with using WInUI with a blank C++/WinRT project? Adding @stevewhims for awareness.

[2019-01-25 17:58] jevansaks commented on #91
I haven't tried it personally but the MSDN docs seem to indicate that it's somewhat automatic in the project templates. Try this? https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/consume-apis#if-the-api-is-implemented-in-a-windows-runtime-component

If it doesn't work, you can contact the cppwinrt tool owners at http://github.com/Microsoft/xlang.

[2019-01-25 18:52] JosephClampett commented on #91
It does look like it should be automatic, but I think the docs are maybe missing a step for C++/WinRT? Installing the NuGet package, adding the suggested Xaml snippet to the `<Application/>` page, adding the `xmlns:controls="using:Microsoft.UI.Xaml.Controls"`, and compiling leads to this:
![image](https://user-images.githubusercontent.com/44207359/51765927-327a1680-20a7-11e9-869c-b2a5113eb167.png)

[2019-01-25 21:04] stevewhims commented on #91
Hi, @JosephClampett, you're right that the topic doesn't cover the C++/WinRT case, but here's some info below that will hopefully unblock you. I'll go ahead now and add this info to the topic; that might be live within 24 hours, but by Monday at the latest.

So, when you add a NuGet package to a C++/WinRT project, the tooling generates a set of projection headers in your project's \Generated Files

[2019-01-25 21:12] JosephClampett commented on #91
Oh my gosh. I... I'm so sorry. I tried for so long to `#include` the libraries and Intellisense never showed anything. I have no idea what I did wrong or what changed but it does work now. Thank for your help and I'm sorry for nothing you. The Microsoft Docs team is the best!

[2019-01-25 21:17] JosephClampett commented on #91
Oh, and you don't need to update the wiki. I guess this was just a weird, personal issue; the headers *are* obvious and the docs probably don't need any more information.

[2019-01-25 21:43] stevewhims commented on #91
Thanks, @JosephClampett, in this case I do feel like the ROI of adding this little bit of extra info to the topic is sound. :)

[2019-01-25 21:51] JosephClampett commented on #91
Oh, of course. You guys are the ones who work on the docs team. One other suggestion I have, though I'm not really sure if there's a place for this: maybe document how C++ XAML code is generated/how to control it? For example, despite the fact that I now have the WinUI headers my XAML pages are still trying to generate code with the Windows::... UI files and I don't really know where to go to fix

[2019-01-25 21:59] stevewhims commented on #91
Can you add more detail to this "my XAML pages are still trying to generate code with the Windows::... UI files"? I'm not able to visualize what the problem is, yet. It'd help me if you could outline the steps you're taking, and what you expect to happen (and what actually is happening, if different), and I'll see whether I can contribute any ideas. Thanks! :) ~Steve

[2019-01-25 22:21] JosephClampett commented on #91
My pch.h originally had
`#include "winrt/Windows.ApplicationModel.Activation.h"
#include "winrt/Windows.UI.Core.h"
#include "winrt/Windows.UI.Input.h"
#include "winrt/Windows.UI.Xaml.h"
#include "winrt/Windows.UI.Xaml.Controls.h"
#include "winrt/Windows.UI.Xaml.Controls.Primitives.h"
#include "winrt/Windows.UI.Xaml.Data.h"
#include "winrt/Windows.UI.Xaml.Input.h"
#include "winrt/Windows.UI.Xaml.In

[2019-01-25 23:11] stevewhims commented on #91
Hi, @JosephClampett, just as an aside, removing those #includes works because the WinUI headers include them. I think I'd be inclined to leave at least `#include <winrt/Windows.UI.Xaml.Controls.h>` in there for the W.U.X.C.Page that your XAML page derives from. Oh, and note that since the platform headers are outside of your project, you can (possibly only slightly) speed up compiles by using the

[2019-01-26 00:07] JosephClampett commented on #91
Agh, duh. I'm sorry. That one is on incompetence (more explicitly than the last one). While it does technically work, ![image](https://user-images.githubusercontent.com/44207359/51779305-76cfdb80-20d4-11e9-8434-77a692ea7d7f.png), Intellisense can't recognize that it does and a full rebuild is forced every time. Oh, and I know that technically I'm not using the WinUI version but Intellisense blueli

[2019-01-26 00:24] stevewhims commented on #91
In terms of the content of the docs, I think we're resolved for this issue. So I'l go ahead and close it. But feel free to reopen, anyone on the thread, for more discussion/detail/whatnot. :) Thanks! Steve

[2019-01-26 00:24] #91 closed, assigned to jesbis, mijacobs, stevewhims

[2019-01-29 15:42] edwardskrod commented on #54
I have a lot more context on this issue now that I've been working in this space for quite some time.

Svet's comment makes it sound like we allow customers to ignore namespaces that are unknown to the SDK that corresponds to the Target Platform Min Version (TPVM).

This isn't the case.

Visual Studio doesn't validate the Package.appxmanifest against the schemas in the SDK.   Instead, we maintain

[2019-01-29 15:43] edwardskrod commented on #54
Let's leave the comment the way it is.  I'll close the issue.

[2019-01-29 15:43] #54 closed, assigned to laurenhughes

[2019-01-30 13:55] BogdanMitrache opened #92 "wrong link?"
ForceUpdateFromAnyVersion element has the same docs link as the OnLaunch element. I assume this is just a copy-paste mistake that needs to be corrected?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce7ce943-631c-600e-c5ef-7ecd95f70aeb
* Version Independent ID: 95c6d06d-92c3-8900-e44f-8300644f12ee
* Content: [UpdateSe

[2019-01-30 23:51] stevewhims commented on #82
Simon, for the first issue above (exhaustive list of MIDL 3.0 syntax), I've added a new topic: https://docs.microsoft.com/uwp/midl-3/reserved-keywords. That, together with the info in the MIDL Reference section (which is still applicable to MIDL 3.0), and the info in the MIDL 3.0 docs (https://docs.microsoft.com/uwp/midl-3/), should be enough to unblock you, I hope. If there are specific keywords,

[2019-01-31 01:09] sichbo commented on #82
Cheers, Steve. Many thanks. Let's put this issue out of its misery.

[2019-01-31 01:09] #82 closed, assigned to stevewhims

[2019-01-31 01:14] stevewhims commented on #82
Thanks, Simon! :)

[2019-01-31 04:41] jlaanstra opened #93 "toast element is missing documentation for the displayTimestamp attribute."
The displayTimestamp attribute is listed at https://docs.microsoft.com/en-us/windows/uwp/design/shell/tiles-and-notifications/adaptive-interactive-toasts#custom-timestamp, but not documented as part of the schema.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64a9d44e-b5d2-9da9-1d9a-d2450b549572
* Version Independent

[2019-01-31 13:53] rawlinson opened #94 "This schema is out of date."
It is missing several elements and attributes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fff893d-cf72-dbef-92c1-9ea3bc37d8f4
* Version Independent ID: f5676d7c-7ca0-d9f9-89ba-1339e82db0cd
* Content: [Toast schema - Windows UWP applications](https://docs.microsoft.com/en-us/uwp/schemas/tiles/toastschema/schema-roo

[2019-02-05 15:25] cheles commented on #64
any updates on this?

[2019-02-05 16:34] mijacobs commented on #64
This had fallen off our radar... investigating.

[2019-02-07 09:10] driesvandamme opened #95 "AutomaticBackgroundTask & ForceUpdateFromAnyVersion"
ForceUpdateFromAnyVersion & AutomaticBackgroundTask can't be used in combination?

When using AutomaticBackgroundTask (and triggering it by running the Scheduled task taking care of it) it doesn't take lower versions into account. Only when a higher version was published, it downloads & installs the update...

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te

[2019-02-07 21:04] mcleanbyron commented on #64
Hi @riverar - We apologize for not responding to this issue sooner. The code formatting issues you pointed out were fixed several weeks ago as part of a separate round of fixes to this area of the docs. As to the other issues, I am in the process of fixing those issues and the docs should up updated on the live site in the next few days. For what it's worth, HoursBetweenUpdateChecks is defined as

[2019-02-08 17:00] mcleanbyron commented on #64
The docs have been updated with fixes for the rest of the issues you called out. Please feel free to reopen or open a new issue if you see any other issues! And thanks again for submitting your feedback.

[2019-02-08 17:00] #64 closed, assigned to mijacobs

[2019-02-10 20:15] kingofthebongo2008 opened #96 "This page does not provide enough information"
Please describe what is in these contracts.
I am trying to find IDXGISwapChain in what contract is it, no success.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34e4929c-6492-6cdc-c59a-bb2ce1954151
* Version Independent ID: 1ce4ade6-ec7d-c3ee-a5dc-95dbf90cb9e9
* Content: [Windows Desktop Extension SDK API contracts fo

[2019-02-10 20:17] kingofthebongo2008 opened #97 "not enough documentation"
No description which winodws namespaces are included.
what about dxgi.idl

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3a66bde-e2d3-c8f9-1818-711aa502c063
* Version Independent ID: 95673030-90b8-601c-8f82-dbf29357f538
* Content: [Troubleshooting Microsoft Interface Definition Language 3.0 issues - Windows UWP applic

[2019-02-11 05:11] kingofthebongo2008 opened #98 "Put descriptions here, what is what."
Seems only people in ms know what is this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5e7b704-bf3b-deaa-0683-9d0a9c69c5d2
* Version Independent ID: d7cbf72b-0ff0-7e3a-9054-ede01cacff97
* Content: [Reserved keywords (MIDL 3.0) - Windows UWP applications](https://docs.microsoft.com/en-us/uwp/midl-3/reserved-keywords

[2019-02-11 23:50] stevewhims commented on #97
Hi, @kingofthebongo2008, thanks for filing this issue!

So, the purpose of MIDL 3.0 is to declare Windows Runtime types inside .idl files (see https://docs.microsoft.com/uwp/midl-3/). DXGI is a Desktop/Win32/COM technology. So, while it *does* use .idl files (as COM APIs do), it's not a Windows Runtime technology, so MIDL 3.0 isn't applicable to it. MIDL 3.0 applies to all of the current Windows R

[2019-02-11 23:54] stevewhims commented on #98
Hi, @kingofthebongo2008, for the keywords that overlap with MIDL 1.0, please see the reference here: https://docs.microsoft.com/windows/desktop/midl/midl-language-reference. I'll update this topic with some info and a link to the MIDL 1.0 reference.

Thanks for filing the issue!
~Steve

[2019-02-12 01:20] knicholasa commented on #96
Hi, thanks for leaving feedback. I'll look into updating these docs. In the meantime, if you are having trouble using IDXGISwapChain in your code, try consulting our developer support pages or forums: https://developer.microsoft.com/en-us/windows/support

[2019-02-12 05:32] kingofthebongo2008 commented on #97
Thank you.

Well this distinction needs to be made explicit then.

I want to expose IDXGISwapChain to a runtime component actually.

On Tue, 12 Feb 2019 at 01:50, Steven White <notifications@github.com> wrote:

[2019-02-12 23:21] stevewhims commented on #97
I hear your feedback, so in response I've just completed a Pull-Request to add more clarification to this Troubleshooting topic. And I added a link from this Troubleshooting topic to the introductory topic. That change should be live either today or tomorrow, but I'll keep an eye on it.

I am interested in understanding your scenario, in case I can add any info/help...

Am I correct in understandi

[2019-02-13 09:48] kingofthebongo2008 commented on #97
Thank you i would look in it.  Now that you explain to me looks logical,
may be this should be put in msdn to be more visible somehow.

The scenario that we have is as following.
We have written small renderer above dx12 and i want to expose this to
users that work with C#. The initial initialization wants swap chain
interface.

We have evaluated several options, but windows runtime components loo

[2019-02-13 22:39] stevewhims commented on #97
Hi, @kingofthebongo2008. Yes, I'll make the changes that you suggest to the docs to add clarification.

Regarding your investigation of your design (for exposing the swap chain via WinRT), it sounds to me like you're on the right tracks, and evaluating some good options. But replicating the minimum facilities of the swap chain out via WinRT sounds like the way to go (whether that's something that'

[2019-02-14 02:13] stevewhims commented on #97
I just want to correct my mistake on one thing that I said in the thread above. I basically said that it's not possible to "expose a COM interface as a return type or a parameter type for any part of the Windows Runtime API surface." Clearly, I was wrong about that. The ISwapChainPanelNative::SetSwapChain method is itself an example of a WinRT API that takes a raw COM pointer. However, that doesn'

[2019-02-22 20:48] chendrixson opened #100 "Manifest entry referencing a COM object should point to required interface."
The manifest entry points to a GUID, but we should also link out to the Interface the that thumbnail handler would need to implement to get this working E2E.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af19dcfd-7147-5b7c-0784-db051145184b
* Version Independent ID: be2ace2f-05cb-b892-76cc-f78da65f488b
* Content: [des

[2019-02-22 22:42] #96 closed, assigned to TylerMSFT, knicholasa

[2019-03-03 17:23] wjk commented on #76
@TimMangan Some (albeit not all) of the AppX/MSIX XSD files can be found in the [MSIX packaging SDK repo](https://github.com/Microsoft/msix-packaging/tree/master/resources/AppxPackaging/Manifest/Schema). I have https://github.com/Microsoft/msix-packaging/issues/32 open to track adding the rest of the schemas to that repo. Microsoft says the remaining files will be added once 19H1 ships. Hope this

[2019-03-05 00:38] Gavin-Williams opened #101 "Direct3D"
"Since Direct3D is in the picture, the scenario is necessarily narrowed to C++ applications" - Why? Now that SharpDX isn't accepting pull requests anymore, is there no way forward for C# developers to use DirectX? So sad that there's such narrow support for DirectX.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2dacbd

[2019-03-05 02:42] stevewhims commented on #101
Hi, @Gavin-Williams, thanks for the issue and the feedback. For Direct2D, I don't know whether you know about [Win2D](https://github.com/Microsoft/Win2D) (which *is* accessible from C#). I'm not aware of a similar 3D API, however.

In terms of giving feedback around what APIs, and language projections, you prefer, there is the the [Windows developer feedback site](https://wpdev.uservoice.com). If

[2019-03-05 07:58] meteorsnows opened #102 "Step by Step of how to use it with WinForm."
Example to references via WinForm project

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09e77fe7-6970-8c3b-09f9-47986e2010c2
* Version Independent ID: 25715011-c3c8-ce15-a1fc-db2bd62a58cf
* Content: [Getting started with the Windows UI library - Windows UWP applications](https://docs.microsoft.com/en-us/uwp/toolkits/w

[2019-03-05 17:47] rido-min commented on #102
/cc @marb2000

[2019-03-06 00:29] michael-hawker opened #103 "Provide contract version number in addition to SDK version"
It'd be great for the list here to have the API contract version number (1-7) called out here in addition to the existing SDK version number.  That's useful when using conditional XAML to match contract version numbers with sdk version numbers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9afdf49d-a4d3-2c25-5146-a74b

[2019-03-08 17:20] homer90 opened #104 "Load Images from embedded resources for Desktop Applications"
Desktop apps should be able to show toast notifications with embedded resource images.
Right now every image that is used in a toast notifiction has to be stored on disk for usage with file:///

But many applications pack their images within embedded resources:
&lt;ItemGroup&gt;
    &lt;EmbeddedResource Include="Images\*" /&gt;
&lt;/ItemGroup&gt;

Loading images from embedded resources (e.g. resou

[2019-03-09 11:13] benstevens48 opened #105 "Document guid_of"
Is there any reason why winrt::guid_of&lt;T&gt;() is not documented?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d36b3f5b-e729-300a-eb81-402648520ff3
* Version Independent ID: 40daa692-e9a1-2e27-0c10-c6baf69bc453
* Content: [winrt namespace (C++/WinRT) - Windows UWP applications](https://docs.microsoft.com/en-us/uwp

[2019-03-14 09:45] meteorsnows opened #106 "Alternative for Windows 8."
Please help me listed down any UI technology could deliver to Windows Store for Windows 8 above as General Public

- WinForms/WPF desktop app with allowElevation (We don't recommend that you declare this capability in applications that you submit to the Microsoft Store.)
- Subset of UWP Xaml? (Documentation that List of the subset?)
- WebView (One of the best, certainly some use case but heavy mem

[2019-03-15 01:14] ghost opened #107 "I am glad I found these packages. Thanks for the heads up."
Keep Reading.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b26b439-4abf-bfd7-681c-51930f503e88
* Version Independent ID: 4d8d1692-44a6-0531-8277-923125eb57eb
* Content: [App package manifest - Windows UWP applications](https://docs.microsoft.com/en-ca/uwp/schemas/appxpackage/appx-package-manifest#feedback)
* Content

[2019-03-15 01:45] #107 closed, assigned to laurenhughes

[2019-03-15 13:08] kingofthebongo2008 opened #108 "More documentation is needed"
please describe why winrt directory in windows kit has different syntax.
There are all kinds of attributes.
Writing code as described in the articles simply refuses to compile.
It is just not clear what is a new midl syntax, what is old midl syntax.

Example:
        [contract(Windows.Foundation.UniversalApiContract, 3.0)]
        [marshaling_behavior(agile)]
        [threading(both)]
        runt

[2019-03-15 13:12] kingofthebongo2008 commented on #108
Example:
I have this interface

       [uuid(CD38D0C5-743A-43C2-889F-2EA3A14082DF)]
        [version(1.0)]
        interface ISwapChainResources : IInspectable
        {
            HRESULT Resize( UInt32 width, UInt32 height );
            HRESULT WaitForGpu();
            HRESULT WaitForFence(IFenceHandle v );
            HRESULT InsertWaitOn(IFenceHandle v );
            HRESULT Present();

[2019-03-15 13:17] kingofthebongo2008 commented on #97
I have designed my custom c++ interfaces, exactly as ISwapChainNative is done.
So in general a documentation can be added, that exposing native com interfaces can be exposed only from c++ and consumed only by c++.
Usually one defines IMyInteface and IMyNativeInterface, IMyInterface is passed around in the functions between native code and in the native code one can query IMyNativeInterface.

[2019-03-15 21:51] stevewhims commented on #97
Thanks for the update, @kingofthebongo2008. I've done as you suggest and added that info in https://docs.microsoft.com/uwp/midl-3/intro#use-cases-for-midl-30. I'll go ahead and close this issue now, since it feels resolve. But please re-open it if necessary.

~Steve

[2019-03-15 21:51] #97 closed, assigned to stevewhims

[2019-03-15 22:52] stevewhims commented on #105
Hi, @benstevens48, thanks for filing the issue. I've added the missing topic, and it's now live. I'll go ahead and close this issue now, but please reopen it if necessary. ~Steve

[2019-03-15 23:06] #105 closed, assigned to stevewhims

[2019-03-15 23:17] stevewhims commented on #108
Hi, @kingofthebongo2008, the Windows SDK folder `%WindowsSdkDir%Include<WindowsTargetPlatformVersion>\winrt` contains `.idl` files that are written with the MIDL 2.0 syntax. These are first-party Windows Runtime APIs, declared in their application binary interface (ABI) form. These files exist primarily for tooling to use&mdash;you won't author nor consume these APIs in this form.

The same APIs i

[2019-03-15 23:44] stevewhims commented on #108
The new section is now live here: [MIDL 1.0, 2.0, and 3.0](https://docs.microsoft.com/uwp/midl-3/intro#midl-10-20-and-30). That discusses the generations of MIDL, and covers the folder that you mentioned and why we don't recommend that you look there for examples of MIDL 3.0 (but rather in the other folder that I mentioned, or in the documentation. ~Steve

[2019-03-16 08:58] kingofthebongo2008 opened #109 "Documenation not clear about midl versions that one encounters when tries to use midl with cppwinrt"
When using cppwinrt, the midl compiler on this interface returns.

namespace UniqueCreator
{
    namespace Graphics
    {
        //[uuid(CD38D0C5-743A-43C2-889F-2EA3A14082DF)]
        //[version(1.0)]
        interface ISwapChainResources// : IInspectable
        {
            void Resize( unsigned int width, unsigned int height );
            void WaitForGpu();
            void WaitForFence(IFen

[2019-03-16 09:00] kingofthebongo2008 opened #110 "%WindowsSdkDir%Include<WindowsTargetPlatformVersion>\cppwinrt\winrt not correct"
There is no idl here, just cppwinrt generated code,
One usually wants to write idl and then invoke cppwinrt.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2dacbdf2-172f-dd41-829f-94295cd0c621
* Version Independent ID: b511accc-e0b1-9b30-d044-231d5204024d
* Content: [Introduction to Microsoft Interface Definition Langu

[2019-03-16 12:20] kingofthebongo2008 opened #111 "No examples how functions are supposed to return interfaces or other classes"
The examples here only provide information void and value types.
More complex relationships like retvals, what happens in cppwinrt is not described.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82dc10e0-781d-367d-bc47-eef1a4abac87
* Version Independent ID: 4750ae98-e82e-15b7-5f70-c677e051e7ae
* Content: [Synthesizing

[2019-03-20 18:27] kingofthebongo2008 opened #112 "Arrays examples"
hello,
I need to do
struct MyStruct
{
   UInt8 m_array[3];
};

i get

error MIDL4000: [msg]A structure field cannot be a type of pointer. [context]: m_array [ Field 'm_array' of Struct 'UniqueCreator.Graphics.MyStruct'  ]

How one can declare arrays ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2dacbdf2-172f-dd41-82

[2019-03-20 23:51] stevewhims commented on #109
Hi, @kingofthebongo2008, that error message is because you're using **unsigned int**, which is not a MIDL 3.0 type. **UInt32** is a MIDL 3.0 type. See [Introduction to Microsoft Interface Definition Language 3.0](https://docs.microsoft.com/uwp/midl-3/intro#types) for a list of MIDL 3.0 types.

**void** is valid as a MIDL 3.0 return type, so that's not a problem. The following is valid MIDL 3.0, an

[2019-03-21 00:01] stevewhims commented on #110
Hi, @kingofthebongo2008! You're right--thank you for pointing that out, that's my mistake. I'll go ahead and fix that error.

~Steve

[2019-03-21 00:09] stevewhims commented on #111
Hi, @kingofthebongo2008, you make a good point. The answer, FYI, is that if a method can't fail then return void; if it can fail then return an HRESULT. Each language projection will do the appropriate thing with that HRESULT. More info here: [Error handling with C++/WinRT](https://docs.microsoft.com/windows/uwp/cpp-and-winrt-apis/error-handling#throwing-exceptions-when-authoring-an-api).

If I we

[2019-03-21 00:34] stevewhims commented on #112
Hi, @kingofthebongo2008, you can pass an array to a method, or have one as a property of a runtime class.

[code]

But, [a data member of a struct type must either be a value type or a nullable type](https://docs.microsoft.com/en-us/uwp/midl-3/intro#types). So unfortunately you can't have a struct field that's an array. And note that the `[3]` is not valid. Just the brackets. "Array types are cons

[2019-03-29 22:11] stevewhims commented on #98
Hi, @kingofthebongo2008, the change is live, so I'll go ahead and close this issue now. ~Steve

[2019-03-29 22:11] #98 closed, assigned to stevewhims

[2019-03-29 22:27] stevewhims commented on #101
Hi, @Gavin-Williams, I'll go ahead and close this issue now. ~Steve

[2019-03-29 22:27] #101 closed, assigned to stevewhims

[2019-03-29 22:29] stevewhims commented on #108
Hi, I'll go ahead and close this issue now since it feels resolved. ~Steve

[2019-03-29 22:29] #108 closed, assigned to stevewhims

[2019-03-29 22:30] stevewhims commented on #109
Hi, I'll go ahead and close this issue now since it feels resolved. ~Steve

[2019-03-29 22:30] #109 closed, assigned to stevewhims

[2019-03-29 22:34] stevewhims commented on #110
Thanks again, @kingofthebongo2008, I've fixed the issue you pointed out. I'll close this one now. ~Steve

[2019-03-29 22:34] #110 closed, assigned to stevewhims

[2019-03-29 22:34] stevewhims commented on #111
Hi, I'll go ahead and close this issue now since it's been a while, and it feels resolved. Please reopen if I made a mistake in closing. ~Steve

[2019-03-29 22:34] #111 closed, assigned to stevewhims

[2019-03-29 22:36] stevewhims commented on #112
Hi, I'll go ahead and close this issue now since it's been a while, and it feels resolved. Please reopen if I made a mistake in closing. ~Steve

[2019-03-29 22:36] #112 closed, assigned to stevewhims

[2019-04-02 19:42] AzAgarampur opened #113 "Adding resources to App.xaml doesn't work."
XamlControlResources does not seem to be a recognized type in the xaml editor. Compilation of the app also fails.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09e77fe7-6970-8c3b-09f9-47986e2010c2
* Version Independent ID: 25715011-c3c8-ce15-a1fc-db2bd62a58cf
* Content: [Getting started with the Windows UI library - W

[2019-04-02 20:00] jevansaks commented on #113
@Arush-Agarampur can you provide more details about your app? Which version of the nuget package did you add? What is the contents of your app.xaml? What is the compilation error you encounter?

[2019-04-02 20:37] AzAgarampur commented on #113
Sorry, I don't know why this got posted now. This was an issue I had a long time ago and is working now.

Sorry again.

[2019-04-02 20:46] jevansaks commented on #113
No worries, thanks for following up!

[2019-04-02 21:31] #113 closed, assigned to mijacobs, jevansaks

[2019-04-03 19:06] knicholasa commented on #103
Hi Michael, thanks for the feedback. We're currently in the process of figuring out the best way to provide the information on these pages to users. I'll make note of your feedback.

[2019-04-03 19:06] #103 closed, assigned to GrantMeStrength

[2019-04-04 23:37] wjk opened #114 "Update for 19H1, 19H2, and 20H1"
I would appreciate it if the uap8: and desktop6: schemas were documented here. Once 19H1 is released, I want to be able to use these schemas for my apps, but I would prefer proper documentation as compared to raw XSD schemas and Googling. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09c20a74-18a7-a0a3-b828-6d

[2019-04-06 22:35] saf-itpro opened #115 "Minor typo the title for a link"
The first paragraph of the article instructs the following to search for the package: **Enter one of the package names below to search for it online**. But one of the package name given is `Microsoft.UI.Xaml.Controls`. And when you search for such a name in `VS2017` package Manager, a package with this name does not exist. I think, the title should read as `Microsoft.UI.Xaml`. However, the link fo

[2019-04-08 17:13] mijacobs commented on #115
Thank you, @saf-itpro! I checked in a fix, it should be live later today.

[2019-04-08 17:13] #115 closed, assigned to mijacobs

[2019-04-19 00:04] AliveDevil opened #117 "Clarify usage of FileExplorerContextMenus"
Please provide a sample on how we are supposed to use FileExplorerContextMenus with
* ExeServer
* SurrogateServer

Please extend which interfaces are available for consumption here.
* Is IShellExtInit supported?
* Is IContextMenu supported?
* If not, when will this functionality be available?

How are we supposed to register COM Objects consumable by Windows Explorer Shell to extend the file explo

[2019-04-22 17:23] jevansaks commented on #39
Yes, unfortunately that is a limitation of the FallbackColor property.

[2019-04-22 17:23] #39 closed, assigned to jwmsft

[2019-04-22 17:24] jevansaks commented on #89
Thanks for the vote of confidence! :)

[2019-04-22 17:24] #89 closed, assigned to mijacobs

[2019-04-24 17:23] #74 closed, assigned to mijacobs

[2019-04-24 17:24] jevansaks commented on #61
The change to move away from acrylic in the pane background was intentional.

The blend edit-copy-of-template feature should be working again. It was broken in VS for a while but is fixed now, I believe.

[2019-04-24 17:24] #61 closed, assigned to mijacobs

[2019-04-24 17:25] jevansaks commented on #58
Do you have more information? A repro app, perhaps?

There are some resources that are supplied by the XamlControlsResources type and so the order of the resource in the app.xaml resources matters. We've recently updated the documentation to be more clear in this regard.

[2019-04-24 17:25] #58 closed, assigned to mijacobs

[2019-04-24 17:27] jevansaks commented on #42
Sorry for showing up late. If you're still seeing this, can you file a bug with a repro app in https://github.com/Microsoft/microsoft-ui-xaml ? Thanks!

[2019-04-24 17:27] #42 closed, assigned to kikisaints, mijacobs

[2019-04-24 17:28] jevansaks commented on #41
Sorry I didn't know about this github repo until now. If you're still seeing this on latest Visual Studio 2019 and latest WinUI (now on 2.1 release package), please let me know either on this issue or at https://github.com/Microsoft/microsoft-ui-xaml. Thanks!

[2019-04-24 17:28] #41 closed, assigned to mijacobs

[2019-04-25 17:18] jevansaks commented on #36
Good issue. Could you attach a repro project? I haven't heard of this problem before.

[2019-04-25 17:19] jevansaks commented on #35
@jesbis can you help fix the links? And maybe add a link for the MUX nuget documentation as well in the first row?

[2019-04-25 17:41] mijacobs commented on #35
I updated the link to point to microsoft.ui.xaml a while back, but didn't close the issue.

[2019-04-25 17:44] jevansaks commented on #35
The link isn't formatted correctly though:

Might as well also add a link to the root of the [Microsoft.UI.Xaml.Controls](/uwp/api/microsoft.ui.xaml.controls) docs as well.

[2019-04-25 20:37] #35 closed, assigned to jesbis, mijacobs

[2019-04-25 20:37] mijacobs commented on #35
updated/added links

[2019-04-30 17:37] jesbis commented on #106
Hi meteorsnows,

You can find the developer documentation for Windows 8 Store apps under the "previous versions" section of the docs:

Windows 8 development overview:
https://docs.microsoft.com/en-us/previous-versions/windows/apps/mt244353(v=win.10)
Windows 8 SDK:
https://docs.microsoft.com/en-us/previous-versions/visualstudio/windows-sdk/ms717358(v=vs.110)

It has information on the different opt

[2019-04-30 17:37] #106 closed, assigned to mcleanbyron, jesbis, mijacobs

[2019-04-30 17:48] #70 closed, assigned to jesbis, predavid-zz

[2019-05-02 00:24] knicholasa commented on #59
Hi - I've reached out to the developers that own this area, and it sounds like this page is still accurate.

If you are looking for functionality that isn’t currently provided by the product, please use the [Windows developer feedback site](https://wpdev.uservoice.com/). We’d be happy to have this on record, where others can view it and upvote it.

[2019-05-07 07:56] tim-weis opened #118 "Unclear ownership semantics"
It's difficult to infer the ownership semantics from the documentation. The class template is introduced with the following statement

With `winrt::array_view` being a non-owning view into, or span over, a contiguous sequence, the [com_array::com_array constructor](https://docs.microsoft.com/en-us/uwp/cpp-ref-for-winrt/com-array#com_arraycom_array-constructor) documentation is confusing:

If this

[2019-05-07 13:37] sylveon opened #119 "Missing info() function in 18362"
This page documents hresult_error as having a method called info() to get a pointer to the restricted error info, but I can't see such method in either the 18362 or the 17763 sdk.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f85cd8df-94c9-b859-5158-7f99d0da0b48
* Version Independent ID: 24b7584f-9612-1e3c-18bd-66975f

[2019-05-07 22:19] stevewhims commented on #119
Hi, @sylveon, thanks for pointing this out. Yes, 10.0.17134.0 was the last version of base.h containing this member function. You can do this to obtain an IRestrictedErrorInfo instead:

[code]

I'll update the docs now.

~Steve

[2019-05-08 00:07] stevewhims commented on #118
Hi, @tim-weis, thanks for raising this issue. You're right, the topic and the relationship between the types is unclear. I'm currently updating the topic to add clarification. **winrt::com_array** does own its data (unlike **winrt::array_view**). The constructor that takes just a uint32_t creates that number of default-initialized elements of type T. Thanks for letting me know. ~Steve

[2019-05-08 02:00] sylveon commented on #119
Awesome, thanks

[2019-05-08 02:00] #119 closed, assigned to stevewhims

[2019-05-10 21:56] stevewhims commented on #118
The topic is now updated. I'll go ahead and optimistically close the issue. Thanks again for pointing this out, @tim-weis! ~Steve

[2019-05-10 21:56] #118 closed, assigned to stevewhims

[2019-05-10 22:26] tim-weis commented on #118
The update clarifies most of the ownership semantics, thanks for that Steve!

Although I'm not entirely sure, the documentation is completely accurate now. `com_array` can apparently be used with non-COM objects, as well (which is in conflict with the documentation). And when used with COM-objects, it looks like it doesn't copy the input, but rather stores references to the source objects, and inc

[2019-05-11 00:21] stevewhims commented on #118
Thanks for looking closely, and you're right. I did some more digging and in fact I had misinterpreted the connection between com_array and COM. I've just published an update. You're right that it's perfectly normal for com_array to contain primitives. com_array is implemented in <winrt/base.h>.

[2019-05-14 23:11] stevewhims commented on #69
I'll go ahead and close this, since it's resolved. Thanks! ~Steve

[2019-05-14 23:11] #69 closed, assigned to nobody

[2019-05-15 08:24] constant-arapov commented on #117
Have You found a solution ? If  You've found, tell me please. I've got the same prolbem. I just want to add a reference to winodws context menu. But using similar solution as You also have no success.

[2019-05-19 06:07] AndreasLuebbers opened #121 "Its a great overview to get an overview whats possible in which version"
please update this in future versions...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9afdf49d-a4d3-2c25-5146-a74b31e45819
* Version Independent ID: 658615f6-b07b-3186-d042-6fb4b52e0640
* Content: [Windows Universal Platform SDK API contracts - Windows UWP applications](https://docs.microsoft.com/en-us/uwp/extension-

[2019-05-20 18:07] Sergio0694 opened #122 "Add a new "App lifecycle" section with useful APIs for Win32 devs"
One major issue for Win32 devs working on UWP apps is the way the OS handles the lifecycle of UWP apps.
Specifically, by default, Windows "tombstones" UWP apps as soon as they are minimized, eventually suspending them and forcing them to reinitialize their UI and more whenever the user bring them up again.
This is useful for users running on portable devices or notebooks, but not ideal for advance

[2019-05-20 18:53] dpaulino commented on #122
I'd like to throw my 2 cents here as well. I've spoken with several uwp devs who ask for this type of feature (disabling tombstoning or somehow postponing it) and for the past 2 years I unfortunately had no response. It would have been very helpful to know about this feature as soon as it became available, instead of learning about this feature this week.

Adding this app lifecycle section and men

[2019-05-22 13:12] rvinothrajendran opened #123 "Hyperlink issue FlowLayout"
FlowLayout hyperlink refers to the LayoutPanel page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86134b1e-18c2-4945-287c-0aec08e1db21
* Version Independent ID: dc12a423-16f3-0c19-d433-b0e5f4002733
* Content: [WinUI 2.2 Release Notes - Windows UWP applications](https://docs.microsoft.com/en-us/uwp/toolkits/winui/rele

[2019-05-22 23:46] #59 closed, assigned to mcleblanc, knicholasa

[2019-05-24 04:01] metathinker opened #124 "`multiSelectModel` attribute of AppXManifest <uap2:Verb> is undocumented"
It is described here in general guidance: https://docs.microsoft.com/en-us/windows/apps/desktop/modernize/desktop-to-uwp-extensions
and its effects are discussed in the context of regular desktop applications registering ShellExecute verbs here: https://docs.microsoft.com/en-us/windows/desktop/shell/how-to-employ-the-verb-selection-model

but is missing from this reference. Please add it.

---
###

[2019-05-24 04:19] metathinker commented on #124
Actually, it may not be possible to document this attribute properly; after experimenting, it seems that either I'm doing something wrong (more likely), or the attribute doesn't have the same meaning its non-packaged-app variant would have.

---------------

Edit: Indeed, I was doing something wrong! The attribute works just like its non-packaged-app variant Registry value would.

[2019-05-24 18:59] metathinker commented on #124
This is interesting - actually, the `MultiSelectModel` attribute does work differently than the corresponding `MultiSelectModel` registry value for non-packaged apps.

I played around with registering 2 programs for the same context-menu action (verb) on the same file extension, one of them being a non-packaged classic desktop app, and one of them being an AppX-packaged classic app. Then I tried s

[2019-05-27 17:47] Palatis opened #125 "How do I actually reference the theme styles in `XamlControlsResources` with `{ThemeResources}`?"
I already have `&lt;controls:XamlControlsResources /&gt;` in my 'App.xaml`.

However, it unable to resolve the style when I reference them (for instance `HeaderToggleButtonStyle` defined in `Microsoft.UI.Xaml.Controls/Expander.xaml`)

What should I do?
or
How do I correctly style a WinUI control?

What should I do?

---
#### 文件詳細資料

⚠ *請勿編輯此區段。 這是 docs.microsoft.com ➟ GitHub 問題連結的必要項。*

* ID: 09e7

[2019-05-29 17:14] jevansaks commented on #125
Sorry, I don't see a HeaderToggleButtonStyle or Expander.xaml in the https://github.com/microsoft/microsoft-ui-xaml project anywhere. Where did you find this particular style documented?

[2019-05-29 17:14] #125 closed, assigned to mijacobs

[2019-05-29 21:40] Palatis commented on #125
sorry I messed up with Windows Community Toolkit...

[2019-05-30 13:37] contextfree opened #126 "Missing a lot of newer UWP APIs"
For example:
Console -&gt; could point to newer UWP Console apps approach in https://docs.microsoft.com/en-us/windows/uwp/launch-resume/console-uwp

DWM -&gt; Windows.UI.Composition

MDI -&gt; Windows Community Toolkit Tabs control, AppWindow

IPC mechanisms like named pipes -&gt; point to general IPC approach with App Services, etc.

Some of these aren't 1:1 replacements and won't work for some u

[2019-06-03 23:18] mcleanbyron commented on #117
Hello - We recently added some related packaging examples to [this article](https://docs.microsoft.com/en-us/windows/apps/desktop/modernize/desktop-to-uwp-extensions#context-menu) that demonstrate how to use this packaging extension to register a context menu implemented via IExplorerCommand and/or IExplorerCommandState. I updated the remarks to this article to point to those examples. I hope this

[2019-06-03 23:18] #117 closed, assigned to laurenhughes

[2019-06-05 00:42] knicholasa commented on #121
Thanks for your feedback. I've updated the page with the latest information and the changes should show up soon.

[2019-06-05 00:42] #121 closed, assigned to knicholasa

[2019-06-05 15:12] ChristopherLeaWacom opened #127 "Specifying comments for Intellisense in .idl files"
I'm trying to export my .NET style comments to XML so they can be consumed by third party developers along with the resulting .winmd. Unfortunately it appears that .idl are either ignored entirely by Visual Studio or they're not properly supported.

If I place the documentation comments in the equivalent header they are indeed picked up and placed in the resulting .xml, but ofcourse the namespaces

[2019-06-06 15:22] ginami commented on #127
Hi @ChristopherLeaWacom -- this list is for feedback on our docs. Can you give me a URL for a doc relevant to your questions? This will help me route your question to the correct author. Thanks!

[2019-06-06 15:28] ChristopherLeaWacom commented on #127
Apologies, I ended up here through lots of Googling and a similar issue posted here: https://github.com/MicrosoftDocs/winrt-related/issues/82.

Where else should I ask? I guess the fact there's no documentation about documentation is my issue, but it's hard to tell if it's even supported.

[2019-06-07 20:21] stevewhims commented on #127
Hi, @ChristopherLeaWacom, your instinct that this isn't supported is correct, and we apologize for the gap in the tooling. XML documentation (as described in https://docs.microsoft.com/dotnet/csharp/programming-guide/xmldoc/xml-documentation-comments), and [compiling with the /doc option](https://docs.microsoft.com/dotnet/csharp/language-reference/compiler-options/doc-compiler-option) is a solutio

[2019-06-10 21:18] mcleanbyron commented on #92
Thanks for reporting the link issue. This has now been fixed.

[2019-06-10 21:18] #92 closed, assigned to laurenhughes

[2019-06-17 18:24] tim-weis opened #128 "Missing documentation for winrt::guid"
The `guid` type in namespace `winrt` is currently undocumented. I'm looking for documentation, that allows me to answer the following questions:

* Why should I use `winrt::guid` instead of [`GUID`](https://docs.microsoft.com/en-us/previous-versions/aa373931(v%3Dvs.80))?
* How do I convert between the two?
* How do I construct a `winrt::guid`?
* Which header file(s) do I need to include?

---
####

[2019-06-17 21:24] stevewhims commented on #128
Hi, @tim-weis. I realize that there's not yet a topic for **winrt::guid** in the [reference content](https://docs.microsoft.com/uwp/cpp-ref-for-winrt/winrt), but it's on my backlog. Meanwhile, here's some info, which I hope will help.

Because it will appear in the APIs you consume (and author). **winrt::guid** is C++/WinRT's projection of the GUID type. It also provides equality and inequality op

[2019-06-17 21:24] #128 closed, assigned to stevewhims

[2019-06-18 08:28] tim-weis commented on #128
That's helpful information, thank you. I needed to construct a `winrt::guid` so was hoping to see the c'tor signature(s). While `winrt::guid` does provide a user-defined c'tor, it appears that the same syntax for direct initialization can be used as if it were a `GUID` struct.

[2019-06-19 00:34] stevewhims commented on #128
Great, thanks, Tim!

[2019-06-21 08:21] AliveDevil commented on #117
Thanks for those examples. Just a quick question here: Is it possible to somehow get an example in a managed-language instead of relying on C++ (C++/CX)?

[2019-06-28 20:52] JosephClampett opened #129 "Can any of these be modified upon app startup?"
For example, could BackgroundColor be changed *before* the app startup splash screen appears to change based on whether the current theme is dark or light?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 415ae1d9-f292-b920-3206-0c88489ba54c
* Version Independent ID: 011fd0bd-641d-7444-2f8e-00fe8195b42e
* Content: [uap:V

[2019-07-02 22:05] stevewhims commented on #127
This issue feels as resolved as we can get it within this documentation-related feedback channel. So I'll go ahead and close it. Thanks! ~Steve

[2019-07-02 22:05] #127 closed, assigned to stevewhims

[2019-07-03 22:29] #36 closed, assigned to jevansaks

[2019-07-17 18:27] predavid-zz commented on #123
Accidentally assigned to me.  @mijacobs  and @micahl - since you co-own the FlowLayout docs, could you please help address this issue?

[2019-07-17 18:37] micahl commented on #123
Mike fixed the issue a while back with (fc152df0fa832b33394f426c34c47176df7a4a8d).  I verified the link is already working so closing this out.

[2019-07-17 18:37] #123 closed, assigned to nobody

[2019-07-26 13:25] julienshepherd opened #133 "Clarify difference"
What's the difference between &lt;AutomaticBackgroundTask /&gt; and &lt;OnLaunch HoursBetweenUpdateChecks="8" /&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75720026-9ca5-4eb3-0446-ff3a8f192b3f
* Version Independent ID: c13637f9-268e-0c2e-ea57-3436f25d3657
* Content: [AutomaticBackgroundTask - Windows UWP applica

[2019-07-30 22:25] TimMisiak opened #134 "Port is 1-65535 for FirewallRule"
The text ```An integer value between 0 and 65535.``` should actually be ```An integer value between 1 and 65535.``` on the page for desktop2:Rule of appxmanifest. In other words, 0 is not valid, 1 is valid, 65535 is valid, 65536 is not valid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f6302b4-8abf-52de-a469-27a02c

[2019-08-07 17:49] mcleanbyron commented on #133
Thanks for your feedback. The engineering team has confirmed the differences as follows:
* AutomaticBackgroundTask will check every 8 hours whether or not the app is running.
* OnLaunch HoursBetweenUpdateChecks=”8” will check only on app launch, and only if it hasn’t previously checked within the last 8 hours.

I am updating the description for HoursBetweenUpdateChecks to clarify this behavior.

[2019-08-07 17:49] #133 closed, assigned to mcleanbyron

[2019-08-14 14:49] julienshepherd opened #135 "Cannot use both AutomaticBackgroundTask and OnLaunch"
I have an .appinstaller with both children in the UpdateSettings element. OnLaunch has HoursBetweenUpdateChecks="0".
The .appinstaller namespace is http://schemas.microsoft.com/appx/appinstaller/2017/2.

Installation fails when I open the .appinstaller and I update with the App Installer UI with the following error message, on a Windows 10 1803 device:

Deployment Add operation with target volume

[2019-08-14 14:55] julienshepherd commented on #135
<UpdateSettings>
	<OnLaunch HoursBetweenUpdateChecks="0" />
	<AutomaticBackgroundTask/>
    </UpdateSettings>

[2019-08-14 15:00] julienshepherd commented on #135
0x80070005 is the HRESULT for Access denied. My account is administrator, but there can be group policies that could affect this. What policies are required for AutomaticBackgroundTask ?

[2019-08-14 15:02] julienshepherd commented on #135
The issue persists when I keep just AutomaticBackgroundTask within UpdateSettings.

[2019-08-28 19:11] rpavlik opened #137 "Formatting of member function section is broken."
More broken in production than the github preview.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b6b0a68-57da-adf4-6d4c-d2140808e55c
* Version Independent ID: 92255e0b-929a-261f-978a-5eecd8417896
* Content: [winrt::handle_type struct template (C++/WinRT) - Windows UWP applications](https://docs.microsoft.com/en-us/uw

[2019-08-31 01:46] stevewhims commented on #137
Hi, @rpavlik, thanks for finding this issue. I've just published a fix to the topic, so I'll go ahead and close this issue now.

Thanks!
Steve

[2019-08-31 01:46] #137 closed, assigned to stevewhims

[2019-09-13 07:04] LokiMidgard opened #139 "What is a `Windows Shell BannersHandler`?"
Searching the web the only occurences are this documentation. Behind the link *Creating Shell Extensions Handlers* under *See also* there is also no mention of Banners.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c820215-8733-f658-f0eb-2df7512da794
* Version Independent ID: 983095a1-2aa3-3026-62e7-ed67fff04e19
* Co

[2019-09-13 17:21] benstevens48 opened #140 "Compsable class confusion"
I'm confused about this statement:

Could I use `Windows.Foundation.IInspectable` as the base class? Would this be fine for submission to the Store? For example

[code]

But in this case isn't that the same as
[code]
(no explicit base class for `Area` implies an implicit base class of `Object`, which is the same as `Windows.Foundation.IInspectable`).

And so in that case I can't think of a situati

[2019-09-13 23:04] stevewhims commented on #140
Hi, @benstevens48, remember that implementing an interface (such as Windows.Foundation.IInspectable, for example) is not the same as deriving from a bass (runtime) class. Implementing an interface is very common; more common I'd say than composing classes. Here's an example of composition.

Let's say that I author a **Shape** class. **Shape** doesn't derive from a bass class, so it's not composabl

[2019-09-14 05:49] benstevens48 commented on #140
Thanks for the reply. Is there a reason for the Windows.* requirement? It's tempting to find the simplest unsealed Windows class and derive from that, but I assume that's not sensible.

In fact I don't really want consumers of my class to derive from it, I just want to create a derived class in the implementation. I can use an interface in MIDL for this, but what is the recommended way to do this

[2019-09-20 00:35] stevewhims commented on #140
Re: the reason for the requirements, I'm not entirely sure, but I believe it's because the composable pattern was designed to meet the requirements of the Xaml UI platform, and it suffices for that (where everything is rooted in DependencyObject).

Your scenario is more advanced than the cases I've encountered and documented. So it might be a good idea to seek support/advice from the feature team,

[2019-09-24 01:47] lukeblevins opened #141 "(Exception from HRESULT: 0x80070005 (E_ACCESSDENIED)) When trying to access an optical drive"
Hello.
I've been trying very hard this evening to get my app to access my optical drive as a StorageFolder in order to retrieve its drive letter by GUID using AQS. It appears that the DeviceInformation object is found by the GUID, but attempting to access it with StorageDevice.FromId(device.Id).Path  results in an access denied exception. My manifest includes &lt;rescap:Capability Name="broadFileS

[2019-09-24 01:51] lukeblevins commented on #141
[code]
[code]
By the way, I got the GUID filter from here: https://docs.microsoft.com/en-us/windows-hardware/drivers/install/system-defined-device-setup-classes-available-to-vendors

[2019-09-24 23:49] vors opened #142 "Data type field is incorrect"
This Data type also allows things like "Directory", which does not conform to the * or extension pattern.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2976c996-a467-d177-d477-123070d6cef9
* Version Independent ID: b98d70a2-4b7f-e984-fdae-d3c78f30b20e
* Content: [desktop5:ItemType - Windows UWP applications](https://d

[2019-09-24 23:53] vors commented on #117
@AliveDevil where did you find the `<desktop5:ItemType Type="Directory">` documentation ? My understanding is that `desktop4:ItemType` is limited only to the files, not folders. But the MS documentation about `desktop5:ItemType` doesn't mention it. (opened #142)

[2019-09-25 07:49] AliveDevil commented on #142
This is documented in the msix-packaging-Repo (https://github.com/microsoft/msix-packaging, `Resources/AppxPackaging/Manifest/Schema`) (or F12 (Go To Definition) from within Visual Studio) following way:
* In 2017 / DesktopManifestSchema_v4.xsd the FileExplorerContextMenus is defined with
[code]
Source https://github.com/microsoft/msix-packaging/blob/master/resources/AppxPackaging/Manifest/Schema/

[2019-09-25 07:49] AliveDevil commented on #117
See https://github.com/MicrosoftDocs/winrt-related/issues/142#issuecomment-534898692.

[2019-09-25 17:11] vors commented on #142
@AliveDevil thank you for the references!

I will keep the issue open because I think the https://github.com/MicrosoftDocs/winrt-related/blob/docs/winrt-related-src/schemas/appxpackage/uapmanifestschema/element-desktop5-itemtype.md still needs to be updated.

[2019-09-25 22:16] stevewhims commented on #140
I'll go ahead and close this issue now, since it seems resolved. But please reactivate it if you feel like I've closed it in error. Thanks! ~Steve

[2019-09-25 22:16] #140 closed, assigned to stevewhims

[2019-09-26 18:25] benstevens48 commented on #140
Thanks for the reply. I'll try to find out more on the forum when I have time.

[2019-09-27 10:44] benstevens48 opened #144 "Document AddRef call"
It's not clear from the documentation whether this function has the effect of calling AddRef on the com object. According to my testing, it does indeed call AddRef. Perhaps this cold be added to the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 917008b0-6ab2-5553-7951-7f05f26f97c2
* Version Independent ID: 94698

[2019-09-27 12:41] marcelwgn opened #145 "Update screenshot to display new WinUI logo"
Since WinUIs logo was refreshed, this change should also be displayed in the screenshot of the nuget list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 716795b6-2bcc-8ff5-f999-5e1de88a04e0
* Version Independent ID: 590dd55a-a259-e6dc-972e-531dda080cd9
* Content: [NuGet package list for the Windows UI Library - Window

[2019-09-27 12:42] marcelwgn opened #146 "Update screenshot to display new WinUI logo"
Since WinUIs logo was refreshed, this change should also be displayed in the screenshot of the nuget list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09e77fe7-6970-8c3b-09f9-47986e2010c2
* Version Independent ID: 25715011-c3c8-ce15-a1fc-db2bd62a58cf
* Content: [Getting started with the Windows UI library - Windows

[2019-09-28 00:32] stevewhims commented on #144
Thanks for filing the issue, @benstevens48, I've published additional info in the topic (in the main description and in the description for the *value* parm. You're right, AddRef is called for pointers. Note that you can also hit F12 on a function and you'll be taken to the implementation right in winrt/base.h, if you're curious about any details.

I'll go ahead and close this issue now.

Thanks a

[2019-09-28 00:32] #144 closed, assigned to stevewhims

[2019-09-30 19:36] mcleanbyron commented on #142
Thanks for bringing these issues to our attention. I updated the [desktop5:ItemType](https://docs.microsoft.com/en-us/uwp/schemas/appxpackage/uapmanifestschema/element-desktop5-itemtype#attributes) with info about the supported "Directory" and "Directory\Background" values, and I fixed several other related minor issues. If you see additional problems with this content, please feel free to reopen

[2019-09-30 19:36] #142 closed, assigned to laurenhughes

[2019-09-30 20:36] benstevens48 opened #147 "How to return an array async"
In the final section of this page, it says that returning `Windows.Foundation.IAsyncOperation<Int32[]>` is invalid. It then says see `IReferenceArray<T>`, but if I try to use this type it says it can only be used within a `declare` block, and I have no idea what that is. I would like to asynchronously return a byte array, but I have no idea how to do it. Is it possible? Currently I have to create

[2019-10-01 01:16] stevewhims commented on #147
Hi, @benstevens48, thanks for raising the issue. I'm currently researching the answer, and also seeking help internally. :) I'll get back to you when I have something. ~Steve

[2019-10-02 01:08] stevewhims commented on #147
@benstevens48, I've updated the topic with a link to [Returning an array asynchronously](https://docs.microsoft.com/windows/uwp/cpp-and-winrt-apis/concurrency-2#returning-an-array-asynchronously), which shows a technique that doesn't involve **IReferenceArray**.

[2019-10-02 19:52] benstevens48 commented on #147
Thanks for the update. However, I think this is a bit inefficient for large arrays because, according to my testing, both boxing and unboxing the array creates a copy of it. Also, it doesn't cover the case of arrays of non-primitive types, like the case I mentioned with `Windows.UI.Color` as the array entry type. Do you think the best solution is the one I mentioned, i.e. to create simple wrapper

[2019-10-07 23:50] stevewhims commented on #147
Hi, @benstevens48. For the remaining questions, it might be a good idea to seek support/advice from the feature team, and you can find them monitoring questions here: https://stackoverflow.com/questions/tagged/c%2b%2b-winrt. But feel free to come back here any time, with updates or corrections that you feel need to be made to the docs.

Sorry I can't offer more direct help with your specific quest

[2019-10-10 14:08] AliveDevil opened #149 "Clarify usage of ref parameters in MIDL3"
How are we supposed to resolve this:
[code]

Following is the definition of IHandler and Argument struct in MIDL3:
[code]

This is necessary as I want to use the ref-parameter as "in" in a C#-project using the projection.
Following should be the definition in C#:
[code]
Declaring the interface this way in a C# WinRT component does work.

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-10-10 22:46] stevewhims commented on #149
Hi, @AliveDevil, thanks for reaching out with this question. For product support questions like this, you could try Microsoft Support, or developer feedback. I'll describe how to get to those resources.

You got here by clicking **Send feedback about** \> **This page**. If instead you click **Send feedback about** \> **This product**, then you'll be taken to the [Windows developer feedback](https:

[2019-10-16 18:05] jesbis commented on #145
Great suggestion! We just updated the screenshot.

[2019-10-16 18:05] #145 closed, assigned to jesbis

[2019-10-16 18:05] jesbis commented on #146
Great suggestion! We just updated the screenshot.

[2019-10-16 18:05] #146 closed, assigned to jesbis, mijacobs

[2019-10-21 23:17] RokeJulianLockhart opened #152 "The appearance of some the controls has become worse."
<!DOCTYPE html>
<html>
	<body>
		<p>
			Except for the ticks in the check-boxes being smaller, the "_CheckBox and RadioButton Visual Update_" has caused the appearance of the previously mentioned elements to be significantly less pleasant.
		</p>
	</body>
</html>

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86134b1e-18c2

[2019-10-24 02:30] stamminator commented on #152
Agreed. The contrast of checked boxes is worse, the indeterminate checkbox is confusing and non-standard, and that selected radio button looks confusing. It looks like the `:hover` or `:active` state in HTML/CSS, not an item that's already selected. More pretty, but less intuitive, which is a net loss in my book.

[2019-10-29 23:33] lukeblevins commented on #141
@laurenhughes Any update on this ticket?

[2019-10-30 15:28] mijacobs commented on #141
HI @duke7553; our apologies for the delayed response, this article wasn't assigned to the owner of this article.
 This feels not so much like feedback specifically about the documentation, but rather like a support request. Here are all of the developer support resources, for completeness.

- The [Feedback Hub app](https://support.microsoft.com/help/4021566/windows-10-send-feedback-to-microsoft-wi

[2019-10-30 15:28] #141 closed, assigned to nobody

[2019-11-02 19:39] RokeJulianLockhart commented on #152
<!DOCTYPE html>
<html>
	<body>
		<blockquote cite="http://github.com/flathub/backend/issues/26#issue-776424623">
			Agreed. The contrast of checked boxes is worse, the indeterminate checkbox is confusing and non-standard, and that selected radio button looks confusing. It looks like the :hover or :active state in HTML/CSS, not an item that's already selected. More pretty, but less intuitive, which

[2019-11-04 23:18] stevewhims commented on #149
I'll go ahead and close this issue now since there's no further action we can take here. Please reopen if I made a mistake in closing. ~Steve

[2019-11-04 23:31] stevewhims commented on #147
I'll go ahead and close this issue now since there's no further action we can take here. Please reopen if I made a mistake in closing. ~Steve

[2019-11-04 23:31] #147 closed, assigned to stevewhims

[2019-11-24 14:39] SmartInteractiveGroup opened #156 "No tutorials, no video how to start"
No tutorials, no video how to start also: Do you understand it?  “The main difference is that WinUI 3 APIs are in the Microsoft.UI namespace instead of the Windows.UI namespace, so you might need to update the namespaces when copying and pasting sample code.”

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1364dd22-66a3

[2019-11-24 14:41] SmartInteractiveGroup commented on #156
This is not an issue. Just a comment.

[2019-11-26 21:26] mcleanbyron commented on #47
This namespace is no longer rendering as a link in the article, so I am closing this issue.

[2019-11-26 21:26] #47 closed, assigned to laurenhughes

[2019-11-26 22:24] mcleanbyron commented on #71
Thanks for reporting this issue. This text has been updated to refer to the "Examples" section along with a direct link to the section.

[2019-11-26 22:24] #71 closed, assigned to mcleanbyron

[2019-11-26 22:25] mcleanbyron commented on #68
Thanks for reporting this issue. The text has been updated to clarify how the namespaces correspond to Windows 10 releases.

[2019-11-26 22:25] #68 closed, assigned to mcleanbyron

[2019-11-26 22:27] mcleanbyron commented on #124
Thanks for reporting this issue. With regards to documenting the MultiSelectModel attribute, this is actually part of the uap3:Verb element (which extends the uap2:Verb element). We unfortunately never documented the uap3:Verb element previously, but I just published a new article for it [here](https://docs.microsoft.com/en-us/uwp/schemas/appxpackage/uapmanifestschema/element-uap3-verb).

[2019-11-26 22:27] #124 closed, assigned to mcleanbyron

[2019-11-26 22:27] mcleanbyron commented on #124
Thanks for reporting this issue. With regards to documenting the MultiSelectModel attribute, this is actually part of the uap3:Verb element (which extends the uap2:Verb element). We unfortunately never documented the uap3:Verb element previously, but I just published a new article for it [here](https://docs.microsoft.com/en-us/uwp/schemas/appxpackage/uapmanifestschema/element-uap3-verb).

[2019-11-27 21:55] jamesmcroft opened #157 "Spelling mistake in Controls and features section"
As I was reading through, I noticed there is a spelling mistake in the Controls and features section.

&gt; an alternative observable collection **implemenentation**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1364dd22-66a3-a03b-85a9-eb197698f8e8
* Version Independent ID: b56792ee-a5a6-0d94-75cf-6047382364b5
* Conte

[2019-12-04 17:45] #157 closed, assigned to jesbis

[2019-12-04 21:03] jesbis commented on #156
Thanks! We'll definitely aim to have more tutorials once WinUI is closer to release.

In the meantime nearly all of the tutorials and examples for UWP will work:

https://docs.microsoft.com/windows/uwp/get-started/create-uwp-apps

Except for the namespace difference as noted.

[2019-12-04 21:03] #156 closed, assigned to jesbis

[2019-12-13 17:43] Karl-Bridge-Microsoft opened #159 "Test"
Testing updated auto-assignment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 104caac7-3150-4cf4-584c-6f1b3b3128bf
* Version Independent ID: c0445226-8281-86b3-a9c6-954fe914f499
* Content: [UWP toolkits - Windows UWP applications](https://docs.microsoft.com/en-us/uwp/toolkits/)
* Content Source: [winrt-related-src/to

[2019-12-13 17:46] Karl-Bridge-Microsoft opened #160 "Test"
Testing updated auto-assignment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1364dd22-66a3-a03b-85a9-eb197698f8e8
* Version Independent ID: b56792ee-a5a6-0d94-75cf-6047382364b5
* Content: [WinUI 3.0 Alpha (November 2019) - Windows UWP applications](https://docs.microsoft.com/en-us/uwp/toolkits/winui3/)
* Content Sou

[2019-12-13 18:04] Karl-Bridge-Microsoft opened #161 "Test2"
Second test of updated auto issues.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1364dd22-66a3-a03b-85a9-eb197698f8e8
* Version Independent ID: b56792ee-a5a6-0d94-75cf-6047382364b5
* Content: [WinUI 3.0 Alpha (November 2019) - Windows UWP applications](https://docs.microsoft.com/en-us/uwp/toolkits/winui3/)
* Content

[2019-12-13 21:55] #161 closed, assigned to jesbis

[2019-12-13 21:55] #160 closed, assigned to jesbis

[2019-12-13 21:55] #159 closed, assigned to Karl-Bridge-Microsoft

[2019-12-16 14:17] AliveDevil opened #162 "const ref / ref const - Whats right?"
There is a code sample with "const ref" here
https://github.com/MicrosoftDocs/winrt-related/blame/docs/winrt-related-src/midl-3/intro.md#L773
And there is a sample code with "ref const" here
https://github.com/MicrosoftDocs/winrt-related/blame/docs/winrt-related-src/midl-3/intro.md#L834

Which is the correct way of using this parameter?
Neither of which does work with Int64 as datatype:
[code]
[co

[2019-12-17 02:03] stevewhims commented on #162
Hi, @AliveDevil, thanks for filing this issue. I've published a fix to the topic, so that's live now. The answer is that `ref const` is correct. You only use that with large value types such as **Matrix4x4**. You don't need it for integral types such as Int64, and in fact it's not valid syntax to do so.

Thanks!
Steve

[2019-12-17 09:30] #162 closed, assigned to stevewhims

[2019-12-26 11:28] weitzhandler opened #164 "Please clarify and emphasize the status of UWP development with .NET Core 3 and C# 8"
The current docs vaguely states that .NET Core is to be supported in the future, but doesn't clarify that C# 8 isn't supported, and doesn't redirect to a roadmap where we can learn about the schedule.
Please update the docs.

Related: #163.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1364dd22-66a3-a03b-85a9-eb197698

[2020-01-08 09:06] NickWPF opened #165 "No Sample!"
ExtendedPropertyHandler

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: c33df8fc-106a-af97-d949-93be15e27829
* Version Independent ID: c930f70c-8378-02d1-8c9f-68b1f985214d
* Content: [desktop3:ExtendedPropertyHandler - Windows UWP applications](https://docs.microsoft.com/zh-cn/uwp/schemas/appxpackage/uapmanifestschema/element-desktop3-extendedpropertyhandler)
* Conte

[2020-01-09 02:29] stephenjeffreywhite opened #166 "This needs to be updated to note that the updater does not currently work with traditional Desktop / Taskbar shortcuts"
As noted in the title, the OnLaunch settings for ShowPrompt and UpdateBlocksActivation do not get used if you open up the app using a traditional Desktop  / Taskbar shortcut, as was noted in this issue on Github:

https://github.com/MicrosoftDocs/msix-docs/issues/59

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1dede6

[2020-01-09 20:53] JeremyRobinson opened #167 "Use same "Name" for related Install/Repair/Uninstall actions."
UninstallAction will only be run if an Install (or Repair) action has been run.  The system uses the "Name" property to track this state.  For this reason, it important that the InstallAction/RepairAction/UninstallAction have the same Name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8d0afcc-b589-f535-9b93-d6bd9dd9

[2020-01-09 21:04] JeremyRobinson opened #168 "Name attribute for UninstallAction should be shared with related InstallAction and RepairAction elements."
UninstallAction will only run if an InstallAction or RepairAction of the same name has been run.  If related actions do not use the name Name, then it is possible that UninstallAction will not be executed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07dafe8b-911d-9323-c3cd-fa87a76b3770
* Version Independent ID: f8f0

[2020-01-09 21:37] Karl-Bridge-Microsoft opened #169 "Testing labels and auto assignment"
test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5d8aa78-1865-813f-2c32-ad24be7ceff3
* Version Independent ID: 36f89150-aa84-9b61-72c5-47aaf87b8bd7
* Content: [File and XML schema specifications for UWP apps - Windows UWP applications](https://docs.microsoft.com/en-us/uwp/schemas/#feedback)
* Content Source: [winrt

[2020-01-09 23:37] #169 closed, assigned to mcleanbyron

[2020-01-09 23:38] Karl-Bridge-Microsoft opened #170 "Testing labels and auto assignment"
Test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1364dd22-66a3-a03b-85a9-eb197698f8e8
* Version Independent ID: b56792ee-a5a6-0d94-75cf-6047382364b5
* Content: [WinUI 3.0 Alpha (November 2019) - Windows UWP applications](https://docs.microsoft.com/en-us/uwp/toolkits/winui3/#feedback)
* Content Source: [winrt-related

[2020-01-10 00:28] Karl-Bridge-Microsoft opened #171 "Testing labels and auto assignment"
test2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1364dd22-66a3-a03b-85a9-eb197698f8e8
* Version Independent ID: b56792ee-a5a6-0d94-75cf-6047382364b5
* Content: [WinUI 3.0 Alpha (November 2019) - Windows UWP applications](https://docs.microsoft.com/en-us/uwp/toolkits/winui3/#feedback)
* Content Source: [winrt-relate

[2020-01-10 00:29] #171 closed, assigned to Karl-Bridge-Microsoft

[2020-01-10 00:29] #170 closed, assigned to GrantMeStrength

[2020-01-13 14:51] BR77BE opened #172 "Types typo?"
"... used only by certain *types desktop of PC games* ..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb896e70-968c-ea71-37b0-dda349d9543b
* Version Independent ID: 204420b4-33fc-3e1b-da55-56c0dac1534a
* Content: [desktop6:MutablePackageDirectory - Windows UWP applications](https://docs.microsoft.com/en-us/uwp/sche

[2020-01-22 20:25] edwardskrod opened #174 "What should we name the document?"
According to the Microsoft Docs, we should name it "StoreManifest.xml."   Does it matter what we name the document?  Are there downstream repercussions if it is named something else?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b048525e-5b60-18fc-4bdb-7222027769ea
* Version Independent ID: 54dbad6e-c837-7901-0e21-e9e

[2020-01-22 22:04] mcleanbyron commented on #168
Thanks for submitting your feedback. I added some info to the "Name" description to clarify this behavior.

[2020-01-22 22:04] #168 closed, assigned to mcleanbyron

[2020-01-22 22:05] mcleanbyron commented on #167
Thanks for submitting your feedback. I added some remarks to this article to clarify this behavior.

[2020-01-22 22:05] #167 closed, assigned to mcleanbyron

[2020-01-22 22:34] mcleanbyron commented on #166
Thanks for submitting your feedback. I added some remarks and info to the attribute descriptions to clarify this behavior.

[2020-01-22 22:34] #166 closed, assigned to mcleanbyron

[2020-01-23 19:00] Karl-Bridge-Microsoft opened #176 "Automation test"
Another automation test for docfx fixes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1364dd22-66a3-a03b-85a9-eb197698f8e8
* Version Independent ID: b56792ee-a5a6-0d94-75cf-6047382364b5
* Content: [WinUI 3.0 Alpha (November 2019) - Windows UWP applications](https://docs.microsoft.com/en-us/uwp/toolkits/winui3/)
* Cont

[2020-01-23 19:02] Karl-Bridge-Microsoft commented on #176
Test of GI successful.

[2020-01-23 19:02] #176 closed, assigned to Karl-Bridge-Microsoft

[2020-02-06 03:54] chigy commented on #152
For feature request and feedback, please post your input to https://github.com/microsoft/microsoft-ui-xaml/issues/new/choose

[2020-02-06 03:54] #152 closed, assigned to chigy

[2020-02-07 07:52] leonardgoobar opened #179 "PC games only?"
"This element is currently INTENDED to be used only by desktop PC games that are packaged in an MSIXVC container."

But is it actually restricted only to games?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c67391c9-bd07-e5be-9398-9caab1f671fa
* Version Independent ID: ea663dff-b7e7-36a4-884e-c75fac4fbb88
* Content: [

[2020-02-07 21:49] mcleanbyron commented on #179
Thanks for your feedback. Yes, this element is currently only supported in for the types of PC games described in the text you quoted. The remarks section of this article indicates that this element requires the customInstallActions capability, and per the links article this capability is "...designed for certain types of desktop PC games that are published by Microsoft and our partners. It will n

[2020-02-07 21:50] #179 closed, assigned to mcleanbyron

[2020-02-10 20:20] mcleanbyron commented on #172
Thanks for submitting this feedback. We have fixed this typo and the updated article will be published later today.

[2020-02-10 20:20] #172 closed, assigned to mcleanbyron

[2020-02-12 19:44] mcleanbyron commented on #24
We apologize for taking so long to reply, and thank you for providing your feedback. I have updated the remarks section with the information you specified, and added a link to a related article for more context.

[2020-02-12 19:44] #24 closed, assigned to mcleanbyron

[2020-02-12 21:50] mcleanbyron commented on #76
Thanks for submitting your feedback, and I apologize for the delay in posting an official response on this issue. As the earlier reply indicated, many of the schemas (including the package manifest schemas) are now available in the [MSIX SDK](https://github.com/microsoft/msix-packaging/tree/master/resources/AppxPackaging/Manifest/Schema) repo. Many schemas (including the package manifest schemas a

[2020-02-12 21:50] #76 closed, assigned to mcleanbyron

[2020-02-12 21:55] MikeHillberg opened #180 "Missing doc link"
Missing documentation link for RoIsApiContractPresent and RoIsApiContractMajorVersionPresent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d8b23f4-f83b-e5fb-076b-f58e7fa8ec5b
* Version Independent ID: 20a237ef-9a49-1786-f00a-df422f8f07bb
* Content: [APIs present on all Windows 10 devices (grouped by module) - Windows

[2020-02-19 09:16] jhwheuer opened #181 "How to add a Content URI so that a web page within a WebView can notify..."
I would like to allow the user to submit a search term from the web page into my UWP app...

The web page itself is stored in 'ms-appx-web:///[SomeFolder]/'.
The WebView can open it, it executes JavaScript, but when I try to call 'window.external.notify', the JS Engine gives me the error "TypeError: Object doesn't support property or method 'notify'"

I have registered 'ms-appx-web:///[SomeFolder]

[2020-02-20 17:22] mcleanbyron commented on #180
Thanks for your feedback. I added these links to the article: https://docs.microsoft.com/en-us/uwp/win32-and-com/win32-apis#apis-from-api-ms-win-ro-typeresolution-l1-1-1dll

[2020-02-20 17:22] #180 closed, assigned to mcleanbyron

[2020-02-21 17:26] mcleanbyron commented on #181
Thanks for reaching out to us. This feels not so much like feedback specifically about the documentation, but rather like a support request. Here are all of the developer support resources, for completeness.

- First, please make review the [Web view](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/web-view) article to confirm whether your question is answered there or in

[2020-02-21 17:26] #181 closed, assigned to mcleanbyron

[2020-02-22 13:17] ijn101 opened #182 "AppX packaging error due to publisher regex template (S v ST)"
Getting following error packaging an app with MakeAppx

error 0xC00CE169: App manifest validation error: The app manifest must be valid as per schema: Line 11, Column 5, Reason: 'CN=My Name,OU=My OU,O=My O,L=My City,**ST=My State**,C=My Country' violates pattern constraint of '(CN|L|O|OU|E|C|**S**|STREET|T|G|I|SN|DC|SERIALNUMBER|Description|PostalCode|POBox|Phone|X21Address|dnQualifier|(OID\.(0|[1

[2020-02-25 22:30] wjk commented on #114
And now we need documentation for the 19H2 ("Vibranium") and 20H1 ("Manganese") schemas as well! I can see the raw XSD schema data by dumping `AppxPackaging.dll`, but I have no clue as to the function of the elements described in those schemas. (Add to that many of the new features in 20H1 appear to be duplicating features already extant in other MSIX manifest schemas — namely, packaged COM suppor

[2020-02-25 22:35] mcleanbyron commented on #114
Thanks for reporting this. I am in the process of documenting the new schema elements up through Windows 10, version 2004 (code-named Vibranium) right now, and I hope to have them published in the next couple of weeks (note that the OS release is not final yet). I will be documenting the missing schema items from Windows 10, version 1903 at the same time.

[2020-02-26 20:40] stevenbrix opened #183 "incorrect sample for attributes"
The attribute sample can't compile. There are many things wrong with it:

1. It doesn't seem like `[attributeusage(target_runtimeclass_member)]` is valid:
[code]

2. If I change this to `[attributeusage(target_runtimeclass)]` i get passed this error and hit this:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2

[2020-02-26 22:53] stevewhims commented on #183
Hi, @stevenbrix, thanks for filing this issue. You're right, that example was showing the wrong syntax. I've tested and published a correction to it, and that's live now.

I'll go ahead and close the issue.

Thanks again!
Steve

[2020-02-27 01:38] #183 closed, assigned to stevewhims

[2020-03-03 00:11] asklar opened #184 "More information needed"
Most contracts refer to a single particular type or API that they make available. This page should include, for each contract, a link to the type/API that is enabled by the contract

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34e4929c-6492-6cdc-c59a-bb2ce1954151
* Version Independent ID: 1ce4ade6-ec7d-c3ee-a5dc-95db

[2020-03-03 02:52] stevewhims commented on #184
Hi, @asklar, and thanks for filing this issue. It sounds like the ask is this: take the list of API contract versions in each Extension SDK version and expand it out to a topic-per-API-contract-version. And then on the topic that documents each API-contract-version, render a hyperlinked list of APIs (linking to the individual API topics).

The way things stand, I can go ahead and make a note of th

[2020-03-05 11:20] tim-weis opened #185 "Can this template be parameterized on a user-defined type?"
The documentation notes 2 concrete instantiations of this template (`handle` and `file_handle`), but doesn't make it clear, whether this template can be used to declare RAII wrapper types parameterized on user-defined types. My concrete use case is adding ownership semantics to SQLite handles.

To do this with confidence we would need to know the requirements placed on the traits type (the templat

[2020-03-05 23:20] stevewhims commented on #185
Hi, @tim-weis, thanks for filing this issue. I've updated the topic with info that hopefully helps with your scenario.

Thanks again,
Steve

[2020-03-06 22:57] wjk opened #186 "Add documentation for "makeappx build" schema"
I don't know of anywhere better to put this, so I might as well ask here.

The PowerToys repository makes use of a [packaging layout XML file](https://github.com/microsoft/PowerToys/blob/master/installer/MSIX/PackagingLayout.xml) that defines an MSIX bundle containing exactly one MSIX package. From reading the source, it appears that this XML file can be used to create far more complex packages an

[2020-03-06 23:09] mcleanbyron commented on #186
Thanks for submitting your feedback. I believe the information you're looking for is provided in the [Package creation with the packaging layout](https://docs.microsoft.com/en-us/windows/msix/package/packaging-layout) article in the MSIX docs. If that article doesn't contain the information you're looking for, please open a new issue in that article.

[2020-03-06 23:09] #186 closed, assigned to mcleanbyron

[2020-03-16 16:45] jnm2 commented on #164
@weitzhandler Does https://github.com/microsoft/microsoft-ui-xaml/blob/master/docs/roadmap.md answer your questions?

[2020-03-17 01:10] weitzhandler commented on #164
Thank you. Kind of. Is there already .NET Core and C#8 support for WinUI apps at the moment with WinUI 3α?

[2020-03-17 01:21] jnm2 commented on #164
Found the answer by following a link from the roadmap:

https://docs.microsoft.com/en-us/uwp/toolkits/winui3/#alpha-limitations-and-known-issues

[2020-03-17 01:36] weitzhandler commented on #164
Oops. Missed it, sorry.
That does answer my question.
Thanks for your effort clarifying this.

[2020-03-17 01:36] #164 closed, assigned to mcleblanc, jesbis

[2020-03-20 15:38] v-radelg opened #187 "test"
test

[2020-03-20 15:40] #187 closed, assigned to nobody

[2020-03-22 10:03] DBJDBJ opened #188 "constexpr is_guid_equal"
base.h around line 189

[code]

It seems it could be easily `constexpr` ?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d36b3f5b-e729-300a-eb81-402648520ff3
* Version Independent ID: 40daa692-e9a1-2e27-0c10-c6baf69bc453
* Content: [winrt namespace (C++/WinRT) - Windows UWP applications](https://docs.microsoft.

[2020-03-22 10:11] DBJDBJ commented on #188
After that is sorted `winrt::guid` should be easily tuned to fully `constexpr` too.

[2020-03-23 06:14] stevewhims commented on #188
Hi, @DBJDBJ, and thanks for filing this issue. The feedback channel you're using here (**Send feedback about** \> **This page**) is for feedback about the documentation itself. For example, if you believe that the content is incorrect, or that info needed to succeed with a common scenario is missing.

But for feedback about the product, like this, you can click **Send feedback about** \> **This pr

[2020-03-23 06:14] #188 closed, assigned to stevewhims

[2020-03-23 15:00] DBJDBJ commented on #188
@stevewhims

I know but I could not find a right link to post this issue in a time I had. Can you please post the link here where one can comment on cppwinrt base.h contents?

[2020-03-23 21:40] stevewhims commented on #188
Hi, @DBJDBJ, try posting on StackOverflow, using the appropriate tag. If you follow this link, you'll see what the tag is: https://stackoverflow.com/questions/tagged/c%2b%2b-winrt.

-Steve

[2020-04-07 04:46] stevewhims commented on #184
I'll go ahead and close now, since we're tracking internally.

[2020-04-07 04:46] #184 closed, assigned to stevewhims

[2020-04-07 04:46] #185 closed, assigned to stevewhims

[2020-04-19 23:39] groovykool opened #191 "What happened to ForegroundText color property?"
What happened to ForegroundText color property?
How do set the app tile text to light or dark?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 415ae1d9-f292-b920-3206-0c88489ba54c
* Version Independent ID: 011fd0bd-641d-7444-2f8e-00fe8195b42e
* Content: [uap:VisualElements (Windows 10) - Windows UWP applications](https:

[2020-04-29 08:55] KalleOlaviNiemitalo opened #192 "Document winrt::is_guid_of and when to specialize it"
Developers are apparently expected to specialize the `winrt::is_guid_of` function template when they implement two non-WinRT COM interfaces of which one derives from the other. However, `winrt::is_guid_of` is not currently documented here. Please document it, add an example of when to specialize it, and describe how to avoid C++ ODR violations (e.g. ensure that all definitions of the specializatio

[2020-04-29 20:27] stevewhims commented on #192
Hi, @KalleOlaviNiemitalo, and thanks for filing this issue. I've added a work item to my backlog to take care of this.

Thanks again!
Steve

[2020-05-01 00:29] wjk commented on #114
@mcleanbyron Any updates?

[2020-05-02 18:11] KalleOlaviNiemitalo commented on #182
If you look at the certificate of <https://github.com/> with Mozilla Firefox or `openssl x509 -text`, its Subject field has `ST = California`, However, if you view the exact same certificate with Internet Explorer 11 or `certutil.exe -dump`, it shows `S=California` instead. It's a matter of Microsoft using a nonstandard abbreviation for the `stateOrProvinceName` attribute type. So if you put `S=My

[2020-05-02 22:04] mcleanbyron commented on #182
Thanks for providing an answer. I have also fixed the doc bug in the CertNameToStrA/W articles that you pointed out (changed the second "S" to "ST"). Those fixes should be live in a day or so.

[2020-05-02 22:04] #182 closed, assigned to mcleanbyron

[2020-05-03 11:48] KalleOlaviNiemitalo commented on #192
I wonder whether the `is_guid_of` specialization also needs to list `IDispatch` when implementing a `dual` interface or a `dispinterface`. That seems an uncommon scenario, though. Event interfaces are generally not `dual`, except SENS interfaces such as [ISensLogon](https://docs.microsoft.com/windows/win32/api/sensevts/nn-sensevts-isenslogon), which can nowadays perhaps be replaced with [WTSRegist

[2020-05-03 15:38] ChrisAnd1998 opened #194 "Not able to use CustomInstall"
Hi,

I'm trying to create a UninstallAction but, after packing the appx i can't install it.
It gives me this error:

AppxManifest:
[code]

On the end the CleanTaskbarX.exe should kill the TaskbarX process and remove it's taskschedule.
Before uninstalling.

[2020-05-04 22:05] mcleanbyron commented on #114
Thanks for following up. The following schema items are now documented:

* Windows 10, version 1903: The desktop6 namespace elements are now documented. A few uap8 elements from this release are now also published, but the remaining are still in progress.
* Windows 10, version 2004 ("Vibranium"): The uap10 and com3 namespace elements are now documented.

The schema updates for any future versions

[2020-05-05 22:19] wjk commented on #114
@mcleanbyron I compared the docs available as of this writing to what's currently in Windows and, unfortunately, there are still gaps in coverage. The desktop6 elements that have to do with services are documented, but the rest are not. There is no discussion of the desktop6 elements related to custom install actions, or desktop6:InstalledLocationVirtualization. uap10:FileType, uap10:Tools, and ua

[2020-05-05 22:29] wjk commented on #114
@mcleanbyron I have noted one rather annoying issue with the AppX docs, however: The three lists of elements that I know of ([here](https://docs.microsoft.com/en-us/uwp/schemas/appxpackage/uapmanifestschema/schema-root) and [here](https://docs.microsoft.com/en-us/uwp/schemas/appxpackage/uapmanifestschema/root-elements), plus the TOC navigation sidebar) currently show different subsets of the AppX

[2020-05-05 23:06] mcleanbyron commented on #114
Hi @wjk. Thanks for reporting that the [schema reference](https://docs.microsoft.com/en-us/uwp/schemas/appxpackage/uapmanifestschema/schema-root) article was missing entries for some of the new desktop6 and uap10 elements. I just published an update to this article that adds entries for these elements.

As you might have already guessed, this (and the other schema pages) are currently written manu

[2020-05-05 23:09] #114 closed, assigned to mcleanbyron

[2020-05-11 20:07] rahulkps23 opened #196 "Didn't clearly mention what minimum OS versions does WinUi-2.4 supports and what visual studio version needed to use WinUi 2.4?"
It is not clearly mentioned anywhere what minimum OS version(like 1703 version) does WinUi-2.4 supports.
Didn't mention whether WinUi-2.4  and WinUI-2.3 supports from version 1703 or not, or is there a difference(eg: winui 2.4 currently won't support 1703 etc)?
Whether all controls excluding animations etc that depend on composition layer(see the attached image for reference) work same on any OS v

[2020-05-13 03:46] tuttipazzo opened #197 "Namespace URL is not accessible....."
This link is not found:

http://schemas.microsoft.com/appx/manifest/uap/windows10/3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9ce8a68-18ba-b0fa-f575-27d2aa93fd38
* Version Independent ID: 0629c9c3-2c48-4945-8ca3-d812283eb868
* Content: [uap3:AppExecutionAlias - Windows UWP applications](https://docs.microsoft.com

[2020-05-22 17:49] GrantMeStrength commented on #197
Thanks for your feedback.

Although it looks like a web-accessible URL, this is just a namespace name that Microsoft has devised to uniquely identify XAML elements.

[2020-05-23 09:26] kathampy commented on #21
e.g. For exposing Chromium / Firefox NativeMessagingHosts registry keys for browser extensions to communicate with the app.

[2020-06-03 01:32] stevewhims commented on #192
Just a heads up that I'm closing this GitHub issue because I'm tracking it internally in my work items (I don't want to track it, and count it, twice). You'll still be able to leave comments here, and the comments so far will be very helpful. I'll come back and (possibly reopen and) comment when I have a resolution for my work item.

Thanks!
Steve

[2020-06-04 02:37] #197 closed, assigned to GrantMeStrength

[2020-06-04 15:32] mjfusa opened #198 "Typo: </com:Extension> should be </com2:Extension>"
Typo: End tag </com:Extension> should be </com2:Extension>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7534a699-02b1-dc1f-5fce-3592e0d3cf24
* Version Independent ID: 82f555ea-477f-b127-aab9-b302e0a82d22
* Content: [com2:Extension (Windows 10) - Windows UWP applications](https://docs.microsoft.com/en-us/uwp/schemas/a

[2020-06-08 16:53] MarcoEnxuto opened #200 "Updates on this page"
[Enter feedback here]
Hi, it's been a while. Are you expecting to update this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64b487e4-704e-7407-dc4e-dbd4787b6b17
* Version Independent ID: b7c66d71-1e06-7758-ca85-1f7b62937025
* Content: [UWP features not yet supported on Xbox - Windows UWP applications](https://do

[2020-06-08 22:52] stevewhims commented on #200
Hi, @MarcoEnxuto, I'll go ahead and start investigating this question. I'll report progress here.

Thanks!
Steve

[2020-06-09 19:04] mcleanbyron commented on #198
Thanks for reporting this! I have just fixed the issue, and it should be published to the live docs site shortly.

[2020-06-09 19:04] #198 closed, assigned to mcleanbyron

[2020-06-17 22:24] Karl-Bridge-Microsoft commented on #102
@marb2000 - can you let me know if you resolved this issue?

[2020-06-17 23:05] Karl-Bridge-Microsoft commented on #102
Closing due to age of original issue and evolution of WinUI and supporting docs. Please re-open if issue persists.

[2020-06-17 23:05] #102 closed, assigned to marb2000, Karl-Bridge-Microsoft

[2020-06-25 19:14] stevewhims commented on #200
I just sent a ping to the email thread I have going. No response yet, but I'll keep investigating.

[2020-06-26 19:53] MatchaMatch commented on #126
Thanks for your suggestions - they've been integrated into the referenced document and you should see them live within 24 hours.

[2020-06-26 19:53] #126 closed, assigned to MatchaMatch, mcleanbyron

[2020-06-26 20:03] mcleanbyron commented on #21
It sounds like this issue has been answered, so I am closing it.

[2020-06-26 20:03] #21 closed, assigned to mcleanbyron

[2020-06-29 14:10] TopperDEL commented on #194
I have the same problem with an app here - is there any news or something available? @mikben

[2020-06-29 16:34] mcleanbyron commented on #194
I'm sorry you're encountering problems trying to use this element. Here are a couple of things you can check:

- The desktop6:CustomInstall element is [supported on Windows 10, version 1903](https://docs.microsoft.com/en-us/uwp/schemas/appxpackage/uapmanifestschema/what-s-changed-in-windows-10#windows-10-build-18362-version-1903) and later. Make sure you're trying to use this on a supported OS ver

[2020-06-29 16:34] #194 closed, assigned to MatchaMatch, mcleanbyron

[2020-06-30 00:49] wjk opened #201 "Remove/deprecate serverpreview AppX elements?"
The `http://schemas.microsoft.com/appx/manifest/serverpreview/windows10` namespace has been useless for many years, ever since use of Nano Server in bare-metal scenarios was killed off. Should this deprecation be noted in the docs? Alternatively, since the serverpreview features never left beta on Windows Server, and aren‘t supported at all on Windows 10 AFAIK, these pages could simply be removed

[2020-07-01 13:07] MarcoEnxuto opened #202 "I just sent a ping to the email thread I have going. No response yet, but I'll keep investigating."
I just sent a ping to the email thread I have going. No response yet, but I'll keep investigating.

_Originally posted by @stevewhims in https://github.com/MicrosoftDocs/winrt-related/issues/200#issuecomment-649767397_

No updates so far, right?

[2020-07-01 21:18] stevewhims commented on #202
Hi, @MarcoEnxuto. I'll respond on Issue #200. Closing this.

Thanks!
Steve

[2020-07-01 21:18] #202 closed, assigned to nobody

[2020-07-01 21:25] stevewhims commented on #200
**UPDATE**: I've made contact with a feature team representative, who is looking into this. If the feature team have changes they'd like to make to this topic, then I'll make them. I'll also keep the internal discussion going periodically.

Thanks!
Steve

[2020-07-02 11:06] TopperDEL commented on #194
Sorry to reopen this topic. @mcleanbyron Can you confirm that the CustomInstall-Extension is usable by anybody or that the note in the doc is still valid:

_This element is currently intended to be used only by certain types of desktop PC games that are published by Microsoft and our partners._

I've placed a specific question in the MSIX-Deployment techcommunity board here - in case you want to a

[2020-07-02 15:47] kkotte opened #203 "Confusing documentation (copy-paste error?)"
The 'Data Type' column for the 'Executable' attribute states:

A string between 1 and 256 characters in length that must end with ".exe" and cannot contain these characters: <, >, :, ", |, ?, or *. It specifies the default executable for the extension. _**If not specified, the executable defined for the app is used**_. If specified, the EntryPoint property is also used. If that EntryPoint property

[2020-07-02 16:00] mcleanbyron commented on #194
Sorry, I missed that statement in the article and that is the most important piece of information. Yes, per that statement (and the fact that this requires the 'customInstallActions' restricted capability), most developers cannot use this extension. This is currently only supported for certain Microsoft partners who are building desktop PC games. In other words, if you can use this extension, you

[2020-07-03 07:47] TopperDEL commented on #194
That's ok @mcleanbyron - at least I know now that it will not work and therefore can concentrate on a different solution to this.
Thank you!

[2020-07-08 02:44] stevewhims commented on #200
I've sent another reminder internally. We're still investigating. Thanks for your patience.

-Steve

[2020-07-20 12:13] MarcoEnxuto commented on #200
So, any news? 🙂

[2020-07-24 17:58] MatchaMatch commented on #26
Hi - Thanks for taking the time to let us know about this. Due to the sheer volume of feedback in our repo, we're currently prioritizing new issues. I'm going to close this but if it's still impacting you or others, feel free to leave a comment and we can keep it open and dig in. Alternatively, you can submit a new issue or pull request with the latest details. Thanks so much and apologies for the

[2020-07-24 17:58] #26 closed, assigned to MatchaMatch, mcleanbyron

[2020-07-24 18:03] MatchaMatch commented on #29
Hi - Thanks for taking the time to let us know about this. Due to the sheer volume of feedback in our repo, we're currently prioritizing new issues. I'm going to close this but if it's still impacting you or others, feel free to leave a comment and we can keep it open and dig in. Alternatively, you can submit a new issue or pull request with the latest details. Thanks so much and apologies for the

[2020-07-24 18:03] #29 closed, assigned to MatchaMatch, mcleanbyron

[2020-07-24 18:03] MatchaMatch commented on #31
Hi - Thanks for taking the time to let us know about this. Due to the sheer volume of feedback in our repo, we're currently prioritizing new issues. I'm going to close this but if it's still impacting you or others, feel free to leave a comment and we can keep it open and dig in. Alternatively, you can submit a new issue or pull request with the latest details. Thanks so much and apologies for the

[2020-07-24 18:03] #31 closed, assigned to MatchaMatch, mcleanbyron

[2020-07-24 18:04] MatchaMatch commented on #44
Hi - Thanks for taking the time to let us know about this. Due to the sheer volume of feedback in our repo, we're currently prioritizing new issues. I'm going to close this but if it's still impacting you or others, feel free to leave a comment and we can keep it open and dig in. Alternatively, you can submit a new issue or pull request with the latest details. Thanks so much and apologies for the

[2020-07-24 18:04] #44 closed, assigned to MatchaMatch, mcleanbyron

[2020-07-24 18:04] MatchaMatch commented on #55
Hi - Thanks for taking the time to let us know about this. Due to the sheer volume of feedback in our repo, we're currently prioritizing new issues. I'm going to close this but if it's still impacting you or others, feel free to leave a comment and we can keep it open and dig in. Alternatively, you can submit a new issue or pull request with the latest details. Thanks so much and apologies for the

[2020-07-24 18:04] #55 closed, assigned to MatchaMatch, mcleanbyron

[2020-07-24 18:04] MatchaMatch commented on #56
Hi - Thanks for taking the time to let us know about this. Due to the sheer volume of feedback in our repo, we're currently prioritizing new issues. I'm going to close this but if it's still impacting you or others, feel free to leave a comment and we can keep it open and dig in. Alternatively, you can submit a new issue or pull request with the latest details. Thanks so much and apologies for the

[2020-07-24 18:04] #56 closed, assigned to MatchaMatch, mcleanbyron

[2020-07-24 18:04] MatchaMatch commented on #57
Hi - Thanks for taking the time to let us know about this. Due to the sheer volume of feedback in our repo, we're currently prioritizing new issues. I'm going to close this but if it's still impacting you or others, feel free to leave a comment and we can keep it open and dig in. Alternatively, you can submit a new issue or pull request with the latest details. Thanks so much and apologies for the

[2020-07-24 18:04] #57 closed, assigned to MatchaMatch, mcleanbyron

[2020-07-24 18:04] MatchaMatch commented on #67
Hi - Thanks for taking the time to let us know about this. Due to the sheer volume of feedback in our repo, we're currently prioritizing new issues. I'm going to close this but if it's still impacting you or others, feel free to leave a comment and we can keep it open and dig in. Alternatively, you can submit a new issue or pull request with the latest details. Thanks so much and apologies for the

[2020-07-24 18:04] #67 closed, assigned to MatchaMatch, mcleanbyron

[2020-07-24 18:04] MatchaMatch commented on #84
Hi - Thanks for taking the time to let us know about this. Due to the sheer volume of feedback in our repo, we're currently prioritizing new issues. I'm going to close this but if it's still impacting you or others, feel free to leave a comment and we can keep it open and dig in. Alternatively, you can submit a new issue or pull request with the latest details. Thanks so much and apologies for the

[2020-07-24 18:04] #84 closed, assigned to MatchaMatch, mcleanbyron

[2020-07-24 18:04] MatchaMatch commented on #93
Hi - Thanks for taking the time to let us know about this. Due to the sheer volume of feedback in our repo, we're currently prioritizing new issues. I'm going to close this but if it's still impacting you or others, feel free to leave a comment and we can keep it open and dig in. Alternatively, you can submit a new issue or pull request with the latest details. Thanks so much and apologies for the

[2020-07-24 18:04] #93 closed, assigned to MatchaMatch, mcleanbyron

[2020-07-24 18:04] MatchaMatch commented on #94
Hi - Thanks for taking the time to let us know about this. Due to the sheer volume of feedback in our repo, we're currently prioritizing new issues. I'm going to close this but if it's still impacting you or others, feel free to leave a comment and we can keep it open and dig in. Alternatively, you can submit a new issue or pull request with the latest details. Thanks so much and apologies for the

[2020-07-24 18:04] #94 closed, assigned to MatchaMatch, mcleanbyron

[2020-07-24 18:05] MatchaMatch commented on #95
Hi - Thanks for taking the time to let us know about this. Due to the sheer volume of feedback in our repo, we're currently prioritizing new issues. I'm going to close this but if it's still impacting you or others, feel free to leave a comment and we can keep it open and dig in. Alternatively, you can submit a new issue or pull request with the latest details. Thanks so much and apologies for the

[2020-07-24 18:05] #95 closed, assigned to MatchaMatch, mcleanbyron

[2020-07-24 18:05] MatchaMatch commented on #100
Hi - Thanks for taking the time to let us know about this. Due to the sheer volume of feedback in our repo, we're currently prioritizing new issues. I'm going to close this but if it's still impacting you or others, feel free to leave a comment and we can keep it open and dig in. Alternatively, you can submit a new issue or pull request with the latest details. Thanks so much and apologies for the

[2020-07-24 18:05] #100 closed, assigned to MatchaMatch, mcleanbyron

[2020-07-24 18:05] MatchaMatch commented on #104
Hi - Thanks for taking the time to let us know about this. Due to the sheer volume of feedback in our repo, we're currently prioritizing new issues. I'm going to close this but if it's still impacting you or others, feel free to leave a comment and we can keep it open and dig in. Alternatively, you can submit a new issue or pull request with the latest details. Thanks so much and apologies for the

[2020-07-24 18:05] #104 closed, assigned to MatchaMatch, mcleanbyron

[2020-07-24 18:06] MatchaMatch commented on #122
Hi - Thanks for taking the time to let us know about this. Due to the sheer volume of feedback in our repo, we're currently prioritizing new issues. I'm going to close this but if it's still impacting you, @dpaulino, or others, feel free to leave a comment and we can keep it open and dig in. Alternatively, you can submit a new issue or pull request with the latest details. Thanks so much and apolo

[2020-07-24 18:06] #122 closed, assigned to MatchaMatch, mcleanbyron

[2020-07-24 18:06] MatchaMatch commented on #129
Hi - Thanks for taking the time to let us know about this. Due to the sheer volume of feedback in our repo, we're currently prioritizing new issues. I'm going to close this but if it's still impacting you or others, feel free to leave a comment and we can keep it open and dig in. Alternatively, you can submit a new issue or pull request with the latest details. Thanks so much and apologies for the

[2020-07-24 18:06] #129 closed, assigned to MatchaMatch, mcleanbyron

[2020-07-24 18:10] MatchaMatch commented on #139
Hi - Thanks for taking the time to let us know about this. Due to the sheer volume of feedback in our repo, we're currently prioritizing new issues. I'm going to close this but if it's still impacting you or others, feel free to leave a comment and we can keep it open and dig in. Alternatively, you can submit a new issue or pull request with the latest details. Thanks so much and apologies for the

[2020-07-24 18:10] #139 closed, assigned to MatchaMatch, mcleanbyron

[2020-07-24 18:11] MatchaMatch commented on #135
Hi - Thanks for taking the time to let us know about this. Due to the sheer volume of feedback in our repo, we're currently prioritizing new issues. I'm going to close this but if it's still impacting you or others, feel free to leave a comment and we can keep it open and dig in. Alternatively, you can submit a new issue or pull request with the latest details. Thanks so much and apologies for the

[2020-07-24 18:11] #135 closed, assigned to MatchaMatch, mcleanbyron

[2020-07-24 18:17] MatchaMatch commented on #134
Thanks for your contribution! I've updated the content with your suggestion; the changes should be live soon.

[2020-07-24 18:17] #134 closed, assigned to MatchaMatch, mcleanbyron

[2020-07-25 16:59] MarcoEnxuto commented on #200
@stevewhims ?

[2020-07-25 19:40] stevewhims commented on #200
Hi, so I just sent a further reminder internally. It's possible that I might have to close this issue if I can't manage to get the info. In the meantime, just in case it's useful to you, here are all of the developer support resources, for completeness.

- [Microsoft Q&A](https://docs.microsoft.com/answers/topics/uwp.html?sort=active&filter=all) is the right place to lobby for a change or a new fe

[2020-07-27 15:12] michael-hawker commented on #67
@mikben can understanding de-prioritizing certain issues, but why not leave it open if the work still needs to be done? Closing it means folks won't see it when they click 'see the feedback for this page' at the bottom of the doc.

(It's also really annoying that showing the GitHub issues inline with the bottom of the article was removed, really kills the great doc experience we had with GitHub fe

[2020-07-28 22:13] stevewhims commented on #200
Hi, @MarcoEnxuto, I've received confirmation that this topic is in fact still accurate. I'll go ahead and close the issue. Thanks for being patient!

-Steve

[2020-07-28 22:13] #200 closed, assigned to stevewhims

[2020-08-11 15:50] marcelwgn opened #204 "Universal device family API contracts page is missing SDK 19041"
[This page](https://docs.microsoft.com/uwp/extension-sdks/windows-universal-sdk) is missing information about the latest Windows 10 SDK 19041.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9afdf49d-a4d3-2c25-5146-a74b31e45819
* Version Independent ID: 658615f6-b07b-3186-d042-6fb4b52e0640
* Content: [Universal device f

[2020-08-12 03:02] stevewhims commented on #204
Hi, @chingucoding, and thanks for filing this issue. Yes, that topic isn't up to date. I've created a work item for myself, so I'll use that to track the work, and I'll go ahead and close this issue. I'll update this thread when I get around to working on the topic.

Thanks!
Steve

[2020-08-12 22:43] Karl-Bridge-Microsoft commented on #196
Hi @rahulkps23 - I believe this issue has been addressed through the version selector we added to the WinUI API reference a few months ago. See https://docs.microsoft.com/en-us/uwp/api/overview/winui/ and check the version dropdown at the top of the main TOC.

Please open a new issue in the repo for that content if still not satisfactory.

[2020-08-12 22:43] #196 closed, assigned to Karl-Bridge-Microsoft

[2020-08-13 01:42] marcelwgn commented on #204
Awesome, thanks for the heads up. Please feel free to comment here once the documentation has been updated! 😄

[2020-08-14 23:06] stevewhims commented on #204
Hi, @chingucoding, I'm just reactivating this to ask whether you could help me understand the use case (or use cases) that you have for this topic. Specifically, how would you express what question (or questions) you need answering that visiting this topic helps answer?

Is it possible that you'd get the same info from visiting an API topic? For example, if you were using the [Uri class](https://d

[2020-08-14 23:20] marcelwgn commented on #204
Hi Steve,

There are 2 things why I am interested in this page:
1. [I wrote an app](https://github.com/chingucoding/UWP-Resources-Gallery) that has a dedicated page that lists the windows 10 builds and the corresponding contracts, in addition to code samples that you can copy in your app. When I tried to add the latest SDK (19041) I noticed that that isn't listed there anymore, thus I wasn't sure

[2020-08-18 19:37] michael-hawker commented on #103
@knicholasa in the meantime, could we at least in the headers next to the version number put the contract number as well for easy reference? Thanks!

[2020-08-18 19:42] knicholasa commented on #103
Hi @michael-hawker , I no longer own this content set, so I'll let @GrantMeStrength respond.

[2020-08-31 09:16] tim-weis opened #205 "Confusing documentation for the c_str() member."
The `c_str()` member is documented to

The word *"version"* suggests, that a new sequence of characters were constructed and returned. I doubt though, that that's what's happening. It would be more reasonable to assume, that `c_str()` returns a pointer into the `hstring`-controlled memory.

Can the documentation be updated to more accurately explain the behavior of `c_str()`? It would certainly he

[2020-09-01 01:00] stevewhims commented on #205
Hi, @tim-weis, thanks for filing this issue. I've corrected the topic now. It'd be my understanding that the wrapped HSTRING owns the data, and I'd expect that to be valid as long as the winrt::hstring is.

Thanks!
Steve

[2020-09-01 01:00] #205 closed, assigned to stevewhims

[2020-09-01 22:50] stevewhims commented on #204
Hi, @chingucoding, and thanks for your reply, I do appreciate the info!

So, the recent history of this topic (and its sibling topics) is that we surveyed some customers and we found no compelling use cases for the info. That's why I wanted to check again before I remove the content.

1. I see, and I realize that missing or incomplete info in these topics is an inconvenience for your app. But it's

[2020-09-01 23:05] marcelwgn commented on #204
Thank you for detailed reply @stevewhims !

Regarding point 1, I would say the main benefit with my app was, that people were able to say "I need contract X", and they would also be able to simply copy paste the C#/XAML code needed to check for that contract. Especially with the Universal Contracts, which map to the SDK versions, it was very neat to simply copy paste the check needed or lookup wha

[2020-09-01 23:15] stevewhims commented on #204
Thanks, @chingucoding, that sounds great. No need to rename this issue. I have a work item to do the necessary work, so I'll use that for tracking (and I hope to get to that soon). So for this issue, I'll go ahead and close it.

Thanks again!
-Steve

[2020-09-01 23:15] #204 closed, assigned to stevewhims

[2020-09-07 11:59] fghzxm opened #206 "Statement that interface inheritance is disallowed apparently contradits with actuality"
It is stated that

This apparently contradicts with actuality, in which interfaces do [inherit](https://docs.microsoft.com/en-us/uwp/api/windows.foundation.collections.iobservablemap-2?view=winrt-19041) [from](https://docs.microsoft.com/en-us/uwp/api/windows.media.audio.iaudioinputnode2?view=winrt-19041) [other](https://docs.microsoft.com/en-us/uwp/api/windows.storage.streams.irandomaccessstream?v

[2020-09-07 20:47] hansmbakker opened #207 "Unclear how the DataFormat elements work"
I find it unclear how the `DataFormat` elements work, whether the options are predefined or whether it is free-text, whether it resolves to a mime type or something else?

Is there any validation on it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f45d3ab-2548-6281-906e-d8a0b259c20e
* Version Independent ID: e3b3d85

[2020-09-08 21:44] DefaultRyan commented on #206
The official guidance of disallowing interface inheritance is accurate for the type system, and it also [applies to MIDL3](https://docs.microsoft.com/en-us/uwp/midl-3/intro#interfaces), which uses the `requires` keyword.

I don't think we need more here than just a simple note clarifying that language projections may use an inheritance relationship for ease of consumption in the language. But cont

[2020-09-09 23:36] stevewhims commented on #206
Thanks, all! I've updated the docs with Ryan's info, and those changes are now live.

I'll go ahead and close the issue.

Thanks again!
-Steve

[2020-09-09 23:36] #206 closed, assigned to stevewhims

[2020-09-10 02:11] fghzxm commented on #206
Pardon my annoyance but it looks to me like the docs is now inaccurate in the other direction:

but WinRT interfaces do actually _inherit_ from IInspectable (their vtables [physically include IInspectable's](https://github.com/microsoft/cppwinrt/blob/e5e1eaac9bfcca3a7cd68e3cc262bcfa93f405eb/cppwinrt/code_writers.h#L756)), and IInspectable similarly does inherit from IUnknown.

[2020-09-16 13:52] jehumb-havok commented on #162
What's a "large value"? This is a struct isn't it? If this generates an error then this is not a performance optimization, and so this should be called out as such in the docs and here, not some handwavy "large value".

[2020-09-16 14:01] jehumb-havok commented on #149
@stevewhims please reopen; the documentation is *very* light on this topic. This is not a support issue. @AliveDevil cannot possibly find an issue (and I can't either) since the documentation doesn't properly explain the usage of those keywords.

- if there is a limitation of using those with classes, as opposed to structs, which I believe is what the compiler might be trying to tell us, then this

[2020-09-16 15:13] ErikApption opened #209 "S or ST for State or Province?"
Are the S and ST interchangeable for State or Province? The RDN link says ST is for state or province but the example at the end has S=Washington

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3aebac84-5494-5889-68e4-5dcc7404a71f
* Version Independent ID: 09fdc1d5-9c3b-e5e8-06b5-06dde6f5259a
* Content: [Identity - Wind

[2020-09-16 19:59] mcleanbyron commented on #209
Thanks for submitting your feedback. For an answer to your question, see the related discussion [here](https://github.com/MicrosoftDocs/winrt-related/issues/182). For app packaging identity, Microsoft uses a nonstandard 'S' abbreviation for the stateOrProvinceName attribute type. This is also called out at the end of the remarks for the related [CertNameToStr](https://docs.microsoft.com/en-us/wind

[2020-09-16 19:59] #209 closed, assigned to mcleanbyron

[2020-09-16 20:24] ErikApption commented on #182
And sorry to re-open this but this issue seems to re-appear when the cert is stored in a Azure key vault
We have as publisher in the manifest

 and we have in Azure

These are unfortunately not matched.

[2020-09-17 02:30] stevewhims commented on #149
Hi, @djee-ms, FYI I've pinged you an internal email, and copied in the feature team owner of MIDL 3.0,seeking clarification on what additional content we need to add here.

Let's track this via email, and we'll see what we can do.

Thanks!
Steve

[2020-09-23 13:25] weitzhandler opened #210 "Using these contacts in ViewModel?"
Are all or some of these contacts abstracted away as empty interfaces in a non-UI assembly so that we can utilize them from the ViewModel too without UI coupling?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee96a7be-303f-6a9e-f517-0d87df5d17ce
* Version Independent ID: 9841348b-47be-cb11-75b6-b1971e529600
* Content:

[2020-09-23 23:07] stevewhims commented on #210
Hi, @weitzhandler, are your viewmodels in the same project as your app? Or are they in a separate component?

[2020-09-23 23:08] weitzhandler commented on #210
Separate. They have no dependency on any UI library.

[2020-09-23 23:24] stevewhims commented on #210
I see. So then when you created the project that contains your viewmodels, you targeted a particular device family. That might have been the Universal device family, or the Desktop device family, or some other. In any case, that decision affects what APIs you can call within the project without writing conditional code. And of course you can change that decision at any time by changing your projec

[2020-09-23 23:49] weitzhandler commented on #210
Thanks for your replies, Steven,

No. The ViewModel project is completely agnostic to any UI or device. It only depends on libraries such as MVVM framework, dependency injection, etc.

Both. It's meant to serve desktop and mobile, and in fact even web.

True, but had those libraries been written with an abstraction layer, it could have been implemented by other providers and be consumed by any vie

[2020-09-24 00:22] stevewhims commented on #210
You're right that the system was designed this way for Universal Windows Platform (UWP) apps, and that's not going to change for UWP apps.

-Steve

[2020-09-24 00:27] weitzhandler commented on #210
Thank you!

[2020-09-24 00:27] #210 closed, assigned to stevewhims

[2020-09-24 21:01] sylveon opened #211 "IntPtr type?"
Is there a type that represents a C# IntPtr or C++ std::intptr_t? I need to pass a HWND in my constructor so I thought of using something like IntPtr but I can't seem to find one. Or is there a way to directly pass an HWND through WinRT? The ability to mix classic IDL with modern IDL seems interesting since classic IDL supports it, but I'm not sure if I can use that for a constructor.

---
#### Do

[2020-09-25 00:56] stevewhims commented on #211
Hi, @sylveon, thanks for filing this issue.

For passing a HWND to a Windows Runtime object, I'd suggest implementing [IInitializeWithWindow](https://docs.microsoft.com/windows/win32/api/shobjidl_core/nn-shobjidl_core-iinitializewithwindow). A less elegant approach is to smuggle a HWND (or indeed any kind of HANDLE) by means of a UInt64 parameter.

-Steve

[2020-09-25 01:49] sylveon commented on #211
I did try implementing `IInitializeWithWindow` shortly after filling this question, but faced an issue where the XAML compiler's codegen did an explicit template specialization that causes compiler errors:

My code:
![image](https://user-images.githubusercontent.com/6440374/94216936-ba34ab80-feae-11ea-8973-78ae52a0f3e1.png)

ColorPickerPage.xaml.g.hpp:
![image](https://user-images.githubuserconten

[2020-09-25 20:28] sylveon commented on #211
Issue up: https://github.com/microsoft/microsoft-ui-xaml/issues/3331

[2020-09-25 20:28] #211 closed, assigned to stevewhims

[2020-10-06 12:45] AliveDevil commented on #149
So I just checked again to see what's up with it here. Given my ticket [here (#162)](162) it looks like `ref <Type> identifier` is the wrong syntax - correct is `ref const <Type> identifier`. Though in .NET Core 3.1 the projection is completely sideways (I do understand that .NET 5 going forward is dependent on CppWinRT/CsWinRT).
IDL:
[code]

But the projection into C# through the WinMD metadata c

[2020-10-06 22:56] stevewhims commented on #149
Thanks, @AliveDevil, I'll ping the internal discussion that we have going by passing this info along.

[2020-10-07 14:14] JoeHaenf opened #212 "Add new settings ShowPrompt and UpdateBlocksActivation"
As those settings can be used to describe an AppInstaller file, those should be documented here.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce7ce943-631c-600e-c5ef-7ecd95f70aeb
* Version Independent ID: 95c6d06d-92c3-8900-e44f-8300644f12ee
* Content: [UpdateSettings - Windows UWP applications

[2020-10-07 16:14] mcleanbyron commented on #212
Thanks for your feedback. ShowPrompt and UpdateBlocksActivation are attributes of the **OnLaunch** element. Therefore, they are documented in the [OnLaunch](https://docs.microsoft.com/en-us/uwp/schemas/appinstallerschema/element-onlaunch) article instead of [UpdateSettings](https://docs.microsoft.com/en-us/uwp/schemas/appinstallerschema/element-update-settings).

If I have misunderstood your feedb

[2020-10-07 16:14] #212 closed, assigned to mcleanbyron

[2020-10-12 10:36] SetTrend opened #214 "Request: Add missing information on how to target only a subset of devices in configuration"
The current version of the UWP documentation lacks information on how to [Limit apps to a subset of all possible devices](https://docs.microsoft.com/en-us/uwp/extension-sdks/device-families-overview#limit-your-app-to-a-subset-of-all-possible-devices) or [Exclude support for a particular version of a device family](https://docs.microsoft.com/en-us/uwp/extension-sdks/device-families-overview#exclude

[2020-10-13 20:39] stevewhims commented on #214
Thanks, @SetTrend, I've created a task for myself to investigate this.

In the meantime, if you want to look at [TargetDeviceFamily](https://docs.microsoft.com/uwp/schemas/appxpackage/uapmanifestschema/element-targetdevicefamily), and see whether the info there fills in the gaps.

I'll close this issue since I'm tracking the work internally and I'll get to it in priority order.

Thanks again!
Stev

[2020-10-13 20:39] #214 closed, assigned to stevewhims

[2020-10-16 17:23] twhall-umich opened #217 "Where's the equivalent page for the "Windows 10 app package manifest schema"?"
Where's the equivalent page for the "Windows 10 app package manifest schema"?  Why are the links taking me to WIndows 8 documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3d3549b-6f25-f819-b917-d921cf635f02
* Version Independent ID: d204096e-ebe1-6436-f51d-b7d27001b1cb
* Content: [Windows 8 app package mani

[2020-10-17 01:27] stevewhims commented on #149
@AliveDevil, just a heads up that @djee-ms has updated a couple of topics with more info.

https://docs.microsoft.com/uwp/midl-3/intro#parameters
https://docs.microsoft.com/uwp/midl-3/troubleshooting

-Steve

[2020-10-21 18:53] mcleanbyron commented on #217
The Windows 10 package manifest schema is documented in [this section](https://docs.microsoft.com/en-us/uwp/schemas/appxpackage/uapmanifestschema/schema-root). If I have misinterpreted your question, please feel free to reopen this issue with more details.

[2020-10-21 18:53] #217 closed, assigned to mcleanbyron

[2020-10-24 20:07] SetTrend commented on #214
Excellent! Thanks, @stevewhims, for pointing me to that valuable information.

I think that linking to such information would perfectly suffice in the docs.

It'd be perfect if such information would be available for the [second, above mentioned, item](https://docs.microsoft.com/en-us/uwp/extension-sdks/device-families-overview#exclude-support-for-a-particular-version-of-a-device-family), too.

[2020-10-26 23:04] stevewhims commented on #214
Thanks, @SetTrend, I'm glad that looks like it might help. So, for "Limit apps to a subset of all possible devices" - I believe that's covered in the second-to-last example in [TargetDeviceFamily](https://docs.microsoft.com/uwp/schemas/appxpackage/uapmanifestschema/element-targetdevicefamily).

And "Exclude support for a particular version of a device family - I believe that's covered in the last

[2020-10-27 01:37] SetTrend commented on #214
OK ... Well, now I'm confused, because the examples you mention don't deal with "exclusions".
<br/>

The last example of [`TargetDeviceFamily`](https://docs.microsoft.com/en-us/uwp/schemas/appxpackage/uapmanifestschema/element-targetdevicefamily) it reads:

_(NB: Please note that there's no "z" in the example that follows.)_

The explanation there would result in the following behaviour:

[code]

[2020-10-28 23:55] SetTrend commented on #214
@stevewhims : I'm not sure if notifications here are getting disabled when an issue gets closed. Did you get my previous message?

[2020-10-29 00:40] stevewhims commented on #214
Hi, @SetTrend, so as mentioned I am tracking an internal work item to get to this workstream in priority order. When I do, I'll take a good look at the TargetDeviceFamily topic, make sure it's correct, set up any necessary links, and make sure I resolve any loose threads here (my work item has a link to this issue, so the two are connected). When I can carve off a good chunk of time to ramp up on

[2021-01-03 11:09] jimshalo10 opened #221 "desktop5:ThumbnailTypeOverlay does not work as described and gets error in Visual Studio 2019 version 16.2 and 16.3 Preview 1"
[Enter feedback here]
Visual Studio 2019 gives an error
Packaging (UWP (x64-64bit)):
file:///c:/Program Files (x86)/Microsoft Visual Studio/2019/Community/Xml/Schemas/UapManifestSchema.xsd(179):
The 'http://schemas.microsoft.com/appx/manifest/desktop/windows10/5:ThumbnailTypeOverlay' attribute is not declared.

Yet its described as

desktop5:ThumbnailTypeOverlay | An image resource for a thumbnail

[2021-02-09 03:31] stevewhims commented on #149
I'll go ahead and close this issue now that the info is now in the content.

Thanks again!
Steve

[2021-02-09 03:31] #149 closed, assigned to stevewhims

[2021-02-17 13:03] mogikanin opened #225 "Missing unsupported feature (VPN)"
As I know, the vpn api also not available on xbox, but this is not mentioned on given page, or I'm wrong?

namespace is
https://docs.microsoft.com/en-us/uwp/api/Windows.Networking.Vpn?view=winrt-19041

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64b487e4-704e-7407-dc4e-dbd4787b6b17
* Version Independent ID: b7c66d71-

[2021-02-17 22:58] stevewhims commented on #225
Thanks, @mogikanin, I've reached out to the feature team for confirmation. I'll update the topic if that turns out to be the case.

-Steve

[2021-02-21 20:09] allenbenz opened #227 "This schema is missing the actions element."
toasts can take an actions element with action element children, this is missing from the schema documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fff893d-cf72-dbef-92c1-9ea3bc37d8f4
* Version Independent ID: f5676d7c-7ca0-d9f9-89ba-1339e82db0cd
* Content: [Toast schema - Windows UWP applications](https://

[2021-02-23 17:45] MatchaMatch commented on #191
Thanks for taking the time to let us know about this. Due to the sheer volume of feedback in our repo, we're currently prioritizing new Issues. If you believe your feedback is still actionable, let us know either directly in this thread or by filing a new Issue and we’ll work to incorporate your suggestions. Though this issue will be marked as Closed, this issue is still being tracked internally a

[2021-02-23 17:45] #191 closed, assigned to MatchaMatch, mcleanbyron

[2021-02-23 17:46] MatchaMatch commented on #165
Thanks for taking the time to let us know about this. Due to the sheer volume of feedback in our repo, we're currently prioritizing new Issues. If you believe your feedback is still actionable, let us know either directly in this thread or by filing a new Issue and we’ll work to incorporate your suggestions. Though this issue will be marked as Closed, this issue is still being tracked internally a

[2021-02-23 17:46] #165 closed, assigned to MatchaMatch, mcleanbyron

[2021-03-12 22:39] stevewhims commented on #225
I've send another reminder, asking for info. Thanks for your patience.

-Steve

[2021-03-12 23:03] stevewhims commented on #225
So, at this stage, it's safest not to assume that Vpn works on Xbox. We're not ready to add Vpn to that topic yet, but as I say, for practical purposes there is no claim nor assurance that Vpn works on Xbox.

Hope that helps, and sorry for the delay in responding.

-Steve

[2021-03-12 23:03] #225 closed, assigned to stevewhims

[2021-03-21 21:14] wjk opened #230 "Describe newly released MSIX manifest schemas"
These files were published in https://github.com/microsoft/msix-packaging/pull/433.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09c20a74-18a7-a0a3-b828-6d2749151255
* Version Independent ID: 1ac0dc95-48ec-4a3b-4455-b8a0b6f094b2
* Content: [Package manifest schema reference for Windows 10 - Windows UWP applications](

[2021-03-29 11:08] alexfotios commented on #194
You have to also add the repair and uninstall actions for the manifest to be valid. Like this:

`  <Extensions>
    <desktop6:Extension Category="windows.customInstall">
      <desktop6:CustomInstall Folder="assets\vpn\tap-windows">
        <desktop6:InstallActions>
          <desktop6:InstallAction File="some.exe" Name="TAP_9" />
        </desktop6:InstallActions>
        <desktop6:RepairActions>

[2021-03-29 11:24] TopperDEL commented on #194
It's a while ago that I was in that topic. But as far as I remember Microsoft simply does not allow it to be used by 3rd party developers. So even if the Manifest is technically valid, the Store would not approve it.
If you know more then me let me now - I would be very happy to bring that app with that feature to the store!

[2021-03-29 11:26] alexfotios commented on #194
Yeah, exactly, if you not in the shortlist of partners you simply can't use it

[2021-03-29 11:31] TopperDEL opened #231 "Why is this only intended for desktop PC games?"
[Enter feedback here]
I would like to use that feature for a system-near-app (to add another Drive using Dokan). But unfortunately this is not possible for an independent developer.

Any chance that this feature can be opened in any way?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8d0afcc-b589-f535-9b93-d6bd9dd9b01

[2021-03-29 12:12] ChrisAnd1998 commented on #231
Yeah.. I need this too. My application runs in the background and creates a Taskschedule. People can only properly uninstall it through an option inside the app. I want to properly close the background process and remove the Taskschedule on uninstall.

[2021-03-29 16:23] MatchaMatch commented on #174
Thanks for taking the time to submit an issue. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, I can help redirect you to the right support channel to get an answer to your question. The community of experts and Microsoft Engineers over at [Microsoft Q&A](https://docs.microsoft.com/answers) offer timely answers to questions like this.

If you do create

[2021-03-29 16:23] #174 closed, assigned to MatchaMatch, mcleanbyron

[2021-04-01 15:17] ChrisGuzak opened #232 "the docs are missing winrt::try_get_activation_factory, a related function"
we are missing a page for this API

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 379e5b93-0d3e-1b92-1ffc-c895d452e759
* Version Independent ID: 6eb229d2-f00d-081f-688e-2337efb82852
* Content: [winrt::get_activation_factory function template (C++/WinRT) - Windows UWP applications](https://docs.microsoft.com/en-us/uwp/c

[2021-04-01 19:32] stevewhims commented on #232
Done, topic is at https://docs.microsoft.com/uwp/cpp-ref-for-winrt/try-get-activation-factory.

[2021-04-01 19:32] #232 closed, assigned to stevewhims

[2021-04-20 15:54] EduOak opened #233 "C++/WinRT Inheritance"
Hi,

I am a pretty C++/WinRT noob and I was asked to author an C++/WinRT API for our internal component testers.

Based on what I've read about WinRT components and inheritance rules I think I am very far away from what I am trying to achieve, so maybe someone more experienced in the matter might help giving me some directions or just saying what I am trying to do is definitely not possible.

What

[2021-04-21 22:43] stevewhims commented on #233
Hi, @EduOak, and thanks for filing this issue. Based on the scenario you describe, there's a concept in C++/WinRT of "composition" (which is a way of inheriting from a type). The base type being a "composable class". Here are some pointers to places in the docs that deal with these concepts, in case they help:

* [Deriving from a type that has a non-default constructor](https://docs.microsoft.com/

[2021-04-21 22:43] #233 closed, assigned to stevewhims

[2021-04-21 22:55] EduOak commented on #233
Hi @stevewhims.

Thank you very much for taking the time to answer. I really appreciate that and for sure I will review the links you pointed me.

Thanks,
-Eduardo

[2021-04-29 23:05] DHowett opened #235 "Document how to use `attribute`"
The Microsoft.UI.Xaml project (open-source!) uses `attribute`!

https://github.com/microsoft/microsoft-ui-xaml/blob/49c719a86d83b3f8a923761c7d472786c15afcba/idl/Microsoft.UI.Xaml.idl#L23-L29

[code]

[MERGING IN THE CONTENTS OF THE RELATED ISSUE 236]

Document how to declare a feature using feature_name and use it with feature()

The Microsoft.UI.Xaml project (open-source!) uses `feature_name` and

[2021-04-29 23:07] DHowett opened #236 "Document how to declare a feature using `feature_name` and use it with `feature()`"
The Microsoft.UI.Xaml project (open-source!) uses `feature_name` and `feature`.

https://github.com/microsoft/microsoft-ui-xaml/blob/49c719a86d83b3f8a923761c7d472786c15afcba/idl/Microsoft.UI.Xaml.idl#L14

[code]

https://github.com/microsoft/microsoft-ui-xaml/blob/49c719a86d83b3f8a923761c7d472786c15afcba/idl/Microsoft.UI.Xaml.idl#L136-L137

[code]

---
#### Document Details

⚠ *Do not edit this se

[2021-05-06 03:17] stevewhims commented on #192
Currently working on this, so reactivating.

[2021-05-06 23:17] stevewhims commented on #192
Thanks, @KalleOlaviNiemitalo, I've actioned this issue now. Please see [Implement a COM interface that derives from another](https://docs.microsoft.com/windows/uwp/cpp-and-winrt-apis/author-coclasses#implement-a-com-interface-that-derives-from-another), and [winrt::is_guid_of function template](https://docs.microsoft.com/uwp/cpp-ref-for-winrt/is-guid-of).

-Steve

[2021-05-06 23:17] #192 closed, assigned to stevewhims

[2021-05-07 10:25] LaPeste opened #237 "Lower case t-arget should be upper case"
[Enter feedback here]
In the xml example         `<desktop6:MutablePackageDirectory target="ContosoGame"/>`
the attribute "target" has a lower case t(-arget) but should be upper case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a71e850-eb4a-dc6e-38b0-36de29443d90
* Version Independent ID: 887151c4-788b-08c9-0075-b6

[2021-05-13 20:12] GrantMeStrength commented on #237
Thank you for catching this! I have corrected the issue, and it should go live soon. Thanks! -john

[2021-05-13 20:12] #237 closed, assigned to GrantMeStrength

[2021-05-13 20:13] GrantMeStrength commented on #231
Handing this request to our installer expert..

[2021-05-13 21:17] mcleanbyron commented on #231
Thanks for your feedback. This feature as it exists today was explicitly designed to address specific scenarios needed by some of our game studio partners. There are no plans to open this feature up more broadly at this time, but I have passed along your feedback to the engineering team that owns this feature.

[2021-05-13 21:17] #231 closed, assigned to mcleanbyron

[2021-05-25 23:16] pontin-pdftron opened #239 "C++/WinRT - Unclear how to declare constructor overload by type"
Hello,

I'm migrating my C++/CX to C++/WinRT component but I can't find a way to migrate my constructor overloads (by type) as it seems to not be supported on MIDL 3.0 when creating a projection.

For example:

[code]

In C++/CX constructor overload is allowed by using `[Windows::Foundation::Metadata::DefaultOverload]` so my question is what is the alternative on C++/WinRT?

[2021-05-27 21:40] stevewhims commented on #239
Hi, @pontin-pdftron, we're investigating internally whether the [[default_overload] attribute](https://docs.microsoft.com/uwp/midl-3/predefined-attributes#the-default_overload-attribute) is meant to work with constructors. I'll get back to you when I know more.

Thanks!
Steve

[2021-05-31 16:25] pontin-pdftron commented on #239
@stevewhims, I appreciate it.

I'm able to use that tag for methods and it works fine.
My main concern is if we can't use overload by type I would be interested to know if it is on the roadmap and if there is an alternative for it, if so any examples would be very helpful.